$menu-item-border-radius: $pt-border-radius;

$dark-menu-item-color-hover: $dark-gray5;
$dark-menu-item-color-active: $dark-gray5 !important; // Important is needed here because the classname "bp3-intent-primary" applied to active menu items.

$dark-menu-background-color: $g-dark-base3; // Same background as Popover
