$menu-item-border-radius: 4px;

$dark-menu-item-color-hover: $g-dark-base5;
$dark-menu-item-color-active: $g-dark-base5 !important; // Important is needed here because the classname "bp3-intent-primary" applied to active menu items.

$menu-item-color-hover: $g-light-base5;
$menu-item-color-active: $g-light-base5 !important;

$dark-menu-background-color: $g-dark-base3; // Same background as Popover
$menu-background-color: $g-light-base3;

$menu-item-padding-vertical: 4px;
$menu-item-padding: 8px;

// Preserve BP5 spacing
$menu-item-line-height: 20px;
$menu-item-padding-large: ($pt-button-height-large - $pt-icon-size-large) * 0.5;
$menu-item-padding-vertical-large: $menu-item-padding-vertical;
