.#{$ns}-menu-item.#{$ns}-active {
  color: $g-black !important;
  .#{$ns}-menu-item-label {
    color: $g-black !important;
  }
}

.#{$ns}-dark {
  .#{$ns}-menu-item.#{$ns}-active {
    color: $g-white !important;
    .#{$ns}-menu-item-label {
      color: $g-white !important;
    }
  }
}

.#{$ns}-menu-item:hover {
  border-radius: 8px;
}

/* Hack to render our arrow instead of the one that BP adds when there are sub items. */
.#{$ns}-submenu {
  .#{$ns}-icon-caret-right:last-of-type {
    background: svg-icon("16px/g-arrow-right-small.svg", (path: (fill: $g-light-active)));
    .#{$ns}-dark & {
      background: svg-icon("16px/g-arrow-right-small.svg", (path: (fill: $g-dark-active)));
    }
  }
  .#{$ns}-icon-caret-right > svg {
    visibility: hidden;
  }

  .#{$ns}-menu-item.#{$ns}-disabled {
    .#{$ns}-icon-caret-right:last-of-type {
      background: svg-icon("16px/g-arrow-right-small.svg", (path: (fill: $g-light-active-disabled)));
      .#{$ns}-dark & {
        background: svg-icon("16px/g-arrow-right-small.svg", (path: (fill: $g-dark-active-disabled)));
      }
    }
  }
}

/**
* Necessary to fix BP omnibar documentation
* because they use text-muted and it was difficult to read because of the color contrast
**/
.#{$ns}-omnibar.docs-navigator-menu {
  .#{$ns}-menu-item.#{$ns}-active {
    .#{$ns}-text-muted {
      color: $g-light-grey1 !important;
    }
  }
}

.#{$ns}-menu-header {
  color: $g-light-grey1;

  & > h6 {
    font-size: $pt-font-size-small;
    line-height: $pt-font-size;
    font-weight: 400;
    padding-top: 1.5 * $pt-grid-size;
  }
  &.#{$ns}-disabled {
    color: $g-light-grey2;
  }
}

.#{$ns}-dark {
  .#{$ns}-menu-header {
    color: $g-dark-grey1;
  }
  &.#{$ns}-disabled {
    color: $g-dark-grey2
  }
}

.#{$ns}-menu-item-label {
  //color: pt-[dark-]text-muted
  font-size: $pt-font-size-small;
  line-height: $pt-font-size;
}
