.#{$ns}-menu-item.#{$ns}-active {
  color: $g-black !important;
  .#{$ns}-menu-item-label {
    color: $g-black !important;
  }
}

.#{$ns}-dark {
  .#{$ns}-menu-item.#{$ns}-active {
    color: $g-white !important;
    .#{$ns}-menu-item-label {
      color: $g-white !important;
    }
  }
}

/**
* Necessary to fix BP omnibar documentation
* because they use text-muted and it was difficult to read because of the color contrast
**/
.#{$ns}-omnibar.docs-navigator-menu {
  .#{$ns}-menu-item.#{$ns}-active {
    .#{$ns}-text-muted {
      color: $g-light-grey1 !important;
    }
  }
}

.#{$ns}-menu-header {
  color: $g-light-grey3;

  & > h6 {
    font-size: $pt-font-size-small;
    line-height: $pt-font-size;
    font-weight: 400;
    padding-top: 1.5 * $pt-grid-size;
  }
}

.#{$ns}-dark {
  .#{$ns}-menu-header {
    color: $g-dark-grey3;
  }
}

.#{$ns}-menu-item-label {
  color: $g-light-grey1;
  font-size: $pt-font-size-small;
  line-height: $pt-font-size;
}

.#{$ns}-dark {
  .#{$ns}-menu-item-label {
    color: $g-dark-grey1;
  }
}
