
$timepicker-row-padding: 0 12px;
$pt-dark-input-box-shadow: none;

$dark-daterangepicker-range-background-color: $dark-gray4;
$dark-daterangepicker-range-background-color-selected: $dark-gray4;
$dark-daterangepicker-range-background-color-selected-hover: $dark-gray5;
$timepicker-input-row-height: 32px;