.#{$ns}-breadcrumbs {
  > li {
    &::after {
      background: svg-icon("16px/g-divider.svg", (path: (fill: $g-light-grey2)));

      .#{$ns}-dark & {
        background: svg-icon("16px/g-divider.svg", (path: (fill: $g-dark-grey2)));
      }
    }
  }
}

.#{$ns}-breadcrumb {
  color: $g-black;

  .#{$ns}-dark & {
    color: $g-white;
  }
}

.#{$ns}-breadcrumb.#{$ns}-disabled {
  color: $g-light-grey1;
  .#{$ns}-dark & {
    color: $g-dark-grey1;
  }
}
