.#{$ns}-breadcrumbs {
  > li {
    &::after {
      background: svg-icon("16px/g-divider.svg", (path: (fill: $g-light-grey2)));

      .#{$ns}-dark & {
        background: svg-icon("16px/g-divider.svg", (path: (fill: $g-dark-grey2)));
      }
    }
  }

  .#{$ns}-breadcrumbs-collapsed {
    background: none;
    transform: rotate(90deg);
    &::before {
      background: svg-icon("16px/g-menu.svg", (path: (fill: $g-light-active)));

      .#{$ns}-dark & {
        background: svg-icon("16px/g-menu.svg", (path: (fill: $g-dark-active)));
      }
    }
  }
}

.#{$ns}-breadcrumb {
  color: $g-black;

  .#{$ns}-dark & {
    color: $g-white;
  }
}

.#{$ns}-breadcrumb.#{$ns}-disabled {
  color: $g-light-grey1;
  .#{$ns}-dark & {
    color: $g-dark-grey1;
  }
}

.#{$ns}-breadcrumb.#{$ns}-breadcrumb-current {
  font-weight: normal;
}
