@import "../../common/customs";

$pt-tooltip-box-shadow: $g-shadow-light-1;
$pt-dark-tooltip-box-shadow: $g-shadow-dark-1;

$dark-tooltip-background-color: $g-dark-base0;
$tooltip-background-color: $g-light-base0;

$dark-tooltip-text-color: $g-white;
$tooltip-text-color: $g-black;

$pt-dark-drop-shadow-opacity: 0;
$pt-dark-border-shadow-opacity: 0;

// Preserve BP5 spacing
$tooltip-padding-vertical: $pt-grid-size * 0.5;
$tooltip-padding-horizontal: $pt-grid-size;

// We use dark-theme colors for Tooltip intents:
$pt-intent-colors: (
  "primary": $g-primary-600,
  "success": $g-grass-600,
  "warning": $g-orange-600,
  "danger" : $g-error-600
);
