// Popover

.#{$ns}-popover.#{$ns}-multi-select-popover .#{$ns}-popover-content {
  margin-top: 0;
}

.#{$ns}-popover.#{$ns}-dark,
.#{$ns}-dark .#{$ns}-popover {
  box-shadow: $custom-shadow;
}

.#{$ns}-popover-target {
  width: 100%;
}

.#{$ns}-popover-wrapper {
  width: 100%;
}

.#{$ns}-multi-select-popover .#{$ns}-menu {
  width: 100%;
}

.#{$ns}-select-popover .#{$ns}-menu {
  width: 100%;
}

// MultiSelect

.#{$ns}-tag-input .#{$ns}-tag-input-values {
  margin-right: 0;
  overflow-y: auto;
  padding-right: 24px;
}

.#{$ns}-input.#{$ns}-multi-select {
  padding-right: 0;
}

.#{$ns}-multi-select > i {
  position: absolute;
  top: 12px;
  right: 24px;
}

.#{$ns}-tag-input .#{$ns}-tag {
  max-width: calc(100% - 48px);
}
