$custom-shadow: 0 0 12px rgba(#000000, 0.25) !important;

// Popover

.#{$ns}-popover.#{$ns}-multi-select-popover .#{$ns}-popover-content {
  margin-top: 0;
}

.#{$ns}-popover.#{$ns}-dark,
.#{$ns}-dark .#{$ns}-popover {
  box-shadow: $custom-shadow;
}

// MultiSelect
.#{$ns}-tag-input.#{$ns}-multi-select .#{$ns}-tag-input-values {
  margin-top: 0;
  margin-right: 0;
  height: 100%;
  overflow-y: auto;
  padding-top: 8px;
  padding-right: 24px;
}

.#{$ns}-input.#{$ns}-multi-select {
  position: relative;
  height: 100%;
  padding-right: 0;
}

.#{$ns}-multi-select > i {
  position: absolute;
  top: 12px;
  right: 24px;
}

.#{$ns}-tag-input .#{$ns}-tag {
  max-width: calc(100% - 48px);
}

.#{$ns}-popover-wrapper .#{$ns}-popover-target {
  height: 100%;
}

.#{$ns}-popover-target > div {
  height: 100%;
}
