.#{$ns}-editable-text:hover::before {
  background-color: $input-background-color;
  .#{$ns}-dark & {
    background-color: $dark-input-background-color;
  }
}

// Removing hover background when it's disabled
.#{$ns}-editable-text.#{$ns}-disabled:hover::before {
  background: none;
}


.#{$ns}-editable-text.#{$ns}-editable-text-editing::before {
  box-shadow: inset 0 0 0 1px $g-light-base5 !important;
  .#{$ns}-dark & {
    box-shadow: inset 0 0 0 1px $g-dark-base5 !important;
  }
}

// Custom function for position in editable-text
@mixin position-editable-text($height, $width) {
  bottom: $height;
  left: $width;
  position: absolute;
  right: $width;
  top: $height;
}

.#{$ns}-editable-text-input {
  &::placeholder {
    color: $input-placeholder-color !important;
    .#{$ns}-dark & {
      color: $dark-input-placeholder-color !important;
    }
  }
}

.#{$ns}-editable-text {
  display: block;
  margin: 8px 12px; // Margin to fix absolute position over other components

  &::before {
    // Imitating @include position-all() with custom design system values
    // Also, it breaks the position relation with the pt-border-radius
    @include position-editable-text(-8px, -12px); // Should be the same as margin
  }

  // CUSTOM CLASS Small rounded for table description editable text
  &.#{$ns}-gp-rounded-small {
    margin: 8px 8px; // Forcing smaller margin

    &::before {
      border-radius: 8px;
      @include position-editable-text(-8px, -8px); // Should be the same as margin
    }
  }

  &.#{$ns}-g-editable-text-small {
    margin: 4px 8px; // Forcing smaller margin

    &::before {
      @include position-editable-text(-4px, -8px); // Should be the same as margin
    }
  }
}

.#{$ns}-editable-text.#{$ns}-disabled {
  &:hover::before {
    box-shadow: none;
    .#{$ns}-dark & {
      box-shadow: none;
    }
  }

}

//custom colors for intent
.#{$ns}-editable-text:not(.#{$ns}-disabled) {
  @each $intent, $color in $pt-intent-colors {
    &.#{$ns}-intent-#{$intent} {
      .#{$ns}-editable-text-input,
      .#{$ns}-editable-text-content {
        color: $g-black;
      }

      &:hover::before {
        box-shadow: inset 0 0 0 1px $color !important;
      }

      &.#{$ns}-editable-text-editing::before {
        box-shadow: inset 0 0 0 1px $color !important;
      }
    }
  }

  .#{$ns}-dark & {
    @each $intent, $color in $pt-g-dark-intent-colors {
      &.#{$ns}-intent-#{$intent} {
        .#{$ns}-editable-text-input,
        .#{$ns}-editable-text-content {
          color: $g-white;
        }

        &:hover::before {
          box-shadow: inset 0 0 0 1px $color !important;
        }

        &.#{$ns}-editable-text-editing::before {
          box-shadow: inset 0 0 0 1px $color !important;
        }
      }
    }
  }
}
