// Copyright 2018 Graphext

// ------------------------- Components -------------------------------

// Buttons
.#{$ns}-button.#{$ns}-action-button {
  padding-left: 32px;
  padding-right: 32px;
  text-transform: uppercase;
}

.#{$ns}-button:focus {
  outline: none;
}

.#{$ns}-button-text {
  font-size: 12px;
  font-weight: bold;
}

// Inputs

//
// Every input is a round input for us
//
.#{$ns}-input {
  border-radius: $pt-input-height / 2;
  box-sizing: border-box;
  padding-left: $input-padding-horizontal;
  padding-right: $input-padding-horizontal;
  box-shadow: none !important;

  &.#{$ns}-large {
    padding: 0 $input-padding-horizontal * 1.5;
  }
}


// Control groups
.#{$ns}-control-group {

  .#{$ns}-input {
    // inherit radius since it's most likely to be zero
    border-radius: inherit;

    &:focus {
      border-radius: initial;
    }
  }

  .#{$ns}-button,
  .#{$ns}-select select {
    // inherit radius since it's most likely to be zero
    border-radius: inherit;
  }

  // round the left corners of the left-most element
  > :first-child {
    border-radius: $pt-button-border-radius 0 0 $pt-button-border-radius;
  }

  // round the right corners of the right-most element
  > :last-child {
    margin-right: 0;
    border-radius: 0 $pt-button-border-radius $pt-button-border-radius 0;
  }

  // bring back border radius on these buttons
  .#{$ns}-input-group .#{$ns}-button {
    border-radius: $pt-border-radius;
  }


  &.#{$ns}-vertical {

    > :first-child {
      margin-top: 0;
      border-radius: $pt-border-radius $pt-border-radius 0 0;
    }

    > :last-child {
      border-radius: 0 0 $pt-border-radius $pt-border-radius;
    }
  }
}


// Tag Input

.#{$ns}-tag-input {
  .#{$ns}-input-ghost {
    width: 100%;
    font-size: 14px;
  }
}

.#{$ns}-tag-input .#{$ns}-tag {
  overflow-wrap: break-word;
  background: $dark-gray5;
  border-radius: 24px;
  padding-left: 8px;
  box-shadow: $custom-shadow;
  color: white;
  font-size: 16px;
  font-weight: normal;
}

// Tag
.#{$ns}-tag-remove:focus {
  outline: 0;
}

// Popover
.#{$ns}-transition-container {
  margin-top: 4px;
}
