// Copyright 2018 Graphext

// ------------------------- Components -------------------------------

// Buttons
.#{$ns}-button.#{$ns}-action-button {
  padding-left: 32px;
  padding-right: 32px;
  text-transform: uppercase;
}

.#{$ns}-button:focus {
  outline: none;
}

.#{$ns}-button-text {
  font-size: 12px;
  font-weight: bold;
}

.#{$ns}-dark .#{$ns}-button.#{$ns}-minimal.#{$ns}-intent-primary:hover,
.#{$ns}-button.#{$ns}-minimal.#{$ns}-intent-primary:hover {
  background-color: inherit;
}

.#{$ns}-dark .#{$ns}-button.#{$ns}-minimal {
  &:disabled,
  &:disabled:hover,
  &.#{$ns}-disabled,
  &.#{$ns}-disabled:hover{
    background-color: $dark-minimal-button-background-color;
    opacity: 0.5;
  }
}

.#{$ns}-dark .#{$ns}-button, .#{$ns}-dark .#{$ns}-button:not([class*="bp3-intent-"]), .#{$ns}-button:not([class*="bp3-intent-"]) {
  background-image: none;
}

// Inputs

//
// Every input is a round input for us
//
.#{$ns}-input {
  border-radius: $pt-input-height / 2;
  box-sizing: border-box;
  padding-left: $input-padding-horizontal;
  padding-right: $input-padding-horizontal;
  box-shadow: none !important;

  &.#{$ns}-large {
    padding: 0 $input-padding-horizontal * 1.5;
  }
}


// Control groups
.#{$ns}-control-group {

  .#{$ns}-input {
    // inherit radius since it's most likely to be zero
    border-radius: inherit;

    // inherit radius on focus too to avoid the input to change border radius on focus
    &:focus {
      border-radius: inherit;
    }
  }

  .#{$ns}-button,
  .#{$ns}-select select {
    // inherit radius since it's most likely to be zero
    border-radius: inherit;
  }

  // round the left corners of the left-most element
  > :first-child {
    border-radius: $pt-button-border-radius 0 0 $pt-button-border-radius;
  }

  // round the right corners of the right-most element
  > :last-child {
    margin-right: 0;
    border-radius: 0 $pt-button-border-radius $pt-button-border-radius 0;
  }

  // bring back border radius on these buttons
  .#{$ns}-input-group .#{$ns}-button {
    border-radius: $pt-border-radius;
  }


  &.#{$ns}-vertical {

    > :first-child {
      margin-top: 0;
      border-radius: $pt-border-radius $pt-border-radius 0 0;
    }

    > :last-child {
      border-radius: 0 0 $pt-border-radius $pt-border-radius;
    }
  }
}

// Numeric Input Control Group

.#{$ns}-numeric-input .#{$ns}-button-group.#{$ns}-vertical > .#{$ns}-button{
  box-shadow: none !important;
  background-color: $dark-gray4;
}
.#{$ns}-numeric-input .#{$ns}-button-group.#{$ns}-vertical > .#{$ns}-button > .#{$ns}-icon{
  transform: scale(0.8);
  color: $pt-intent-primary;
}
// Editable Text
.#{$ns}-multiline .#{$ns}-editable-text-content {
  margin: 0;
}
.#{$ns}-dark .#{$ns}-editable-text.#{$ns}-editable-text-editing::before, .#{$ns}-editable-text.#{$ns}-editable-text-editing::before{
  box-shadow: none;
}
.#{$ns}-dark .#{$ns}-editable-text:hover::before{
  box-shadow: none;
  background: $dark-gray5;
}

.#{$ns}-editable-text-editing:not([class*="#{$ns}-multiline"])::before , .#{$ns}-editable-text:not([class*="#{$ns}-multiline"])::before {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.#{$ns}-editable-text-input:not(textarea), .#{$ns}-editable-text-content:not(textarea) {
  margin: 8px 16px;
}

//Slider
.#{$ns}-dark .#{$ns}-slider-handle, .#{$ns}-dark .#{$ns}-slider-handle:hover{
  background-color: $pt-intent-primary;
}
.#{$ns}-dark .#{$ns}-slider-handle:active, .#{$ns}-dark .#{$ns}-slider-handle.#{$ns}-active{
  background-color: $pt-intent-primary;
}
.#{$ns}-slider-label{
  padding: 4px 8px;
  font-size: 11px;
}
.#{$ns}-slider.#{$ns}-axis-hidden .#{$ns}-slider-axis{
  display: none;
}

// Tag Input
.#{$ns}-tag-input {
  .#{$ns}-input-ghost {
    width: 100%;
    font-size: 14px;
  }
}

.#{$ns}-tag-input .#{$ns}-tag {
  overflow-wrap: break-word;
  background: $dark-gray5;
  border-radius: 24px;
  padding-left: 8px;
  box-shadow: $custom-shadow;
  color: white;
  font-size: 16px;
  font-weight: normal;
}

// Tag
.#{$ns}-tag-remove:focus {
  outline: 0;
}

// Tooltip
.#{$ns}-tooltip, .#{$ns}-tooltip .#{$ns}-popover-content {
  border-radius: $pt-grid-size;
  font-size: 12px;
}

// Toast
.#{$ns}-toast {
  &.#{$ns}-dark {
    background-color: $dark-gray5;
  }
}

.#{$ns}-toast.#{$ns}-dark .#{$ns}-button:not([class*="bp3-intent-"]) .#{$ns}-icon {
  color: $white;
}

// CheckBox
.#{$ns}-control.#{$ns}-checkbox {
  .#{$ns}-control-indicator {
    border-radius: 4px;
    background: $dark-gray5;  // removes gradient
  }
  input:checked ~ .#{$ns}-control-indicator{
    &::before {
      background-image: svg-icon("16px/g-check.svg", (path: (fill: $white)));
    }
  }
}

// Radio
.#{$ns}-control.#{$ns}-radio {
  input:checked ~ .#{$ns}-control-indicator::before {
    background-image: radial-gradient($pt-intent-primary, $pt-intent-primary 28%, transparent 32%);
  }
  input:checked ~ .#{$ns}-control-indicator{
    background-color: $dark-gray5;
  }
}
.#{$ns}-dark .#{$ns}-control.#{$ns}-radio:hover input:checked~.#{$ns}-control-indicator{
  background-color: $dark-gray5;
}
