$dialog-border-radius: 8px;
$dialog-margin: 24px;
$dialog-padding: 24px;

/* Dialog background */
$pt-dark-app-background-color: $g-dark-base2;
$light-gray4: $g-light-base2;

$pt-dialog-box-shadow: $g-shadow-light-3;
$pt-dark-dialog-box-shadow: $g-shadow-dark-3;
