$dark-tab-color-selected: $g-white;
$tab-color-selected: $g-black;
$tab-indicator-width: 2px;

$padding-between-tabs: 16px;

$tab-background-color-dark: $g-dark-base6;
$tab-background-color-light: $g-light-base6;

$tab-color-disabled-dark: $g-dark-grey2;
$tab-color-disabled-light: $g-light-grey2;
