.#{$ns}-tab > * {
  color: inherit;
}

.#{$ns}-tab-indicator-wrapper {
  z-index: 1;

  .#{$ns}-tab-indicator {
    bottom: -$tab-indicator-width;
  }
}

// Allow tabs to fill available width
.#{$ns}-tabs-fill {
  .#{$ns}-tab {
    flex: 1;
    margin: 0;
    text-align: center;
  }
}


/* overrides default bp value */
.#{$ns}-tab-list {
  > *:not(:last-child) {
    margin-right: 0;
  }
}

/*
- hover effect (only if not disabled) => background + color
- disabled: specific color
 */

// light theme (vertical and horizontal)
.#{$ns}-tabs.#{$ns}-vertical .#{$ns}-tab,
.#{$ns}-tab {
  padding-left: 8px;
  padding-right: 8px;

  &:not([aria-disabled="true"]):hover {
    color: $pt-intent-primary;
    background-color: $tab-background-color-light;
  }

  &[aria-disabled="true"] {
    color: $tab-color-disabled-light;
  }
}

// dark theme (vertical and horizontal)
.#{$ns}-dark {
  .#{$ns}-tabs.#{$ns}-vertical .#{$ns}-tab,
  .#{$ns}-tab {
    &:not([aria-disabled="true"]):hover {
      color: $pt-intent-primary;
      background-color: $tab-background-color-dark;
    }

    &[aria-disabled="true"] {
      color: $tab-color-disabled-dark;
    }
  }
}

/*
//vertical light
.#{$ns}-tabs.#{$ns}-vertical {
    > .#{$ns}-tab-list {
      .#{$ns}-tab {
        &:not([aria-disabled="true"]):hover {
          color: $pt-intent-primary;
          background-color: $tab-background-color-light;
        }

        &[aria-disabled="true"] {
          color: $tab-color-disabled-light;
        }
    }
  }
}*/
/*
.#{$ns}-dark {
  .#{$ns}-tabs.#{$ns}-vertical {
    > .#{$ns}-tab-list {
      .#{$ns}-tab {
        &:not([aria-disabled="true"]):hover {
          color: $pt-intent-primary;
          background-color: $tab-background-color-dark;
        }

        &[aria-disabled="true"] {
          color: $tab-color-disabled-dark;
        }
      }
    }
  }
}*/


/*
horizontal => align items horizontally (one after another)
vertical =>  align items vertically (one on top of another) => we need to override bp effect in this case
*/

.#{$ns}-tabs.#{$ns}-vertical {
  > .#{$ns}-tab-list {
    .#{$ns}-tab {
      border-radius: 0;
      &[aria-selected="true"] {
        background-color: transparent;
     }
    }
  }
}

/*
Here starts the declaration of the stroke line styles.
We need to handle:
 - the default value (no stroke line is defined)
 - the 4 positions of the stroke line (top, right, bottom, left)

If the tab is disabled, the line should appear in the desired color.
If the tab is disabled and active, the disabled styles should win.


Hints:
- inset: changes the shadow to one inside the frame.
- if color is omitted => it takes the default color
  (helpfully for dark and light theme differentiation => no need extra rules for each theme)
- minus sign (-) in offset-x or offset-y changes the line position.

We need to win the specificity of the vertical selector that sets box-shadow: none (declared in the _tabs.scss file):
.#{$ns}-tabs.#{$ns}-vertical {
(...)
  > .#{$ns}-tab-list {
    (...)
    .#{$ns}-tab {
      (...)
      &[aria-selected="true"] {
        box-shadow: none; => we need to override this
      }
    }
    (...)
}

That's why we use (for example) this selector for vertical tabs: .#{$ns}-g-stroke-line-top.#{$ns}-tabs.#{$ns}-vertical.
*/

$stroke-line-top: inset 0 ($tab-indicator-width);
$stroke-line-right: inset (-$tab-indicator-width) 0;
$stroke-line-bottom: inset 0 (-$tab-indicator-width) 0;
$stroke-line-left: inset $tab-indicator-width 0;

/*  Here we are setting the default values if the position of the stroke line is not defined.
    - vertical list => stroke line left
    - horizontal list => stroke line bottom
*/

// dark theme
/*
.#{$ns}-dark {
  .#{$ns}-tab {

    &[aria-selected="true"] {
      box-shadow: $stroke-line-bottom;
    }

    &:not([aria-disabled="true"]):hover {
      box-shadow: $stroke-line-bottom $pt-intent-primary;
    }
  }
}
*/

// light theme & dark theme
.#{$ns}-dark .#{$ns}-tab,
.#{$ns}-tab {
  &[aria-selected="true"] {
    box-shadow: $stroke-line-bottom;
  }

  &:not([aria-disabled="true"]):hover {
    box-shadow: $stroke-line-bottom $pt-intent-primary;
  }
}

//vertical tabs
.#{$ns}-tabs.#{$ns}-vertical {
  > .#{$ns}-tab-list {
    .#{$ns}-tab {

      &[aria-selected="true"] {
        box-shadow: $stroke-line-left;
      }

      &:not([aria-disabled="true"]):hover {
        box-shadow: $stroke-line-left $pt-intent-primary;
      }
    }
  }
}

/*
  Stroke line position declaration.
  Available classNames to place the stroke line in the desired position:
    - top => .#{$ns}-g-stroke-line-top => example: bp3-g-stroke-line-top
    - right => .#{$ns}-g-stroke-line-right => example: bp3-g-stroke-line-right
    - bottom => .#{$ns}-g-stroke-line-bottom => example: bp3-g-stroke-line-bottom
    - left => .#{$ns}-g-stroke-line-left => example: bp3-g-stroke-line-left
*/

// stroke line position => top
.#{$ns}-g-stroke-line-top,
.#{$ns}-g-stroke-line-top.#{$ns}-tabs.#{$ns}-vertical {
    .#{$ns}-tab {
      &[aria-selected="true"] {
        box-shadow: $stroke-line-top;
      }
      &:not([aria-disabled="true"]):hover {
        box-shadow: $stroke-line-top $pt-intent-primary;
      }
    }
}


// stroke line position => right
.#{$ns}-g-stroke-line-right,
.#{$ns}-g-stroke-line-right.#{$ns}-tabs.#{$ns}-vertical {

  .#{$ns}-tab {
    &[aria-selected="true"] {
      box-shadow: $stroke-line-right;
    }
    &:not([aria-disabled="true"]):hover {
      box-shadow: $stroke-line-right $pt-intent-primary;
    }
  }
}

// stroke line position => bottom
.#{$ns}-g-stroke-line-bottom,
.#{$ns}-g-stroke-line-bottom.#{$ns}-tabs.#{$ns}-vertical {
  .#{$ns}-tab {
    &[aria-selected="true"] {
      box-shadow: $stroke-line-bottom;
    }
    &:not([aria-disabled="true"]):hover {
      box-shadow: $stroke-line-bottom $pt-intent-primary;
    }
  }
}

// stroke line position => left
.#{$ns}-g-stroke-line-left,
.#{$ns}-g-stroke-line-left.#{$ns}-tabs.#{$ns}-vertical {
  .#{$ns}-tab {
    &[aria-selected="true"] {
      box-shadow: $stroke-line-left;
    }
    &:not([aria-disabled="true"]):hover {
      box-shadow: $stroke-line-left $pt-intent-primary;
    }
  }
}

/* Stroke line declaration ends here */
