@import "../../common/customs";

$pt-button-border-radius: calc($pt-button-height-large / 2);

$button-border-width: 0;

/*
$button-box-shadow: $custom-shadow;
$button-box-shadow-active: $custom-shadow;
$button-box-shadow-overlay: $custom-shadow;
$button-box-shadow-overlay-active: $custom-shadow;
$button-intent-box-shadow: $custom-shadow;
$button-intent-box-shadow-active: $custom-shadow;
$dark-button-box-shadow: $custom-shadow;
$dark-button-box-shadow-active: $custom-shadow;
 */

$dark-minimal-button-background-color-hover: rgba($dark-gray5, 0.15);
$dark-minimal-button-background-color-active: rgba($dark-gray5, 0.3);

$pt-border-radius: $pt-button-border-radius; // Custom border radius just used once in _common.scss

$button-padding-small: 0px 4px;
$button-padding: 4px 8px;
$button-padding-large: 8px 12px;
