.#{$ns}-button.#{$ns}-action-button {
  padding-left: 24px;
  padding-right: 24px;
  text-transform: uppercase;
}

.#{$ns}-button:focus {
  outline: none;
}

.#{$ns}-button-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

// bp3-button-text-normal to be used in Anchor for a parragraph like font size
.#{$ns}-button-text-normal .#{$ns}-button-text {
  font-size: $pt-font-size;
}

.#{$ns}-dark .#{$ns}-button.#{$ns}-minimal.#{$ns}-intent-primary:hover,
.#{$ns}-button.#{$ns}-minimal.#{$ns}-intent-primary:hover {
  background-color: inherit;
}

.#{$ns}-dark .#{$ns}-button.#{$ns}-minimal {

  &:disabled,
  &:disabled:hover,
  &.#{$ns}-disabled,
  &.#{$ns}-disabled:hover {
    background-color: $dark-minimal-button-background-color;
    opacity: 0.5;
  }
}

.#{$ns}-dark .#{$ns}-button,
.#{$ns}-dark .#{$ns}-button:not([class*="#{$ns}-intent-"]),
.#{$ns}-button:not([class*="#{$ns}-intent-"]) {
  background-image: none;
}

.#{$ns}-dark .#{$ns}-button:not([class*="#{$ns}-intent-"]) .#{$ns}-icon {
  color: $white;
}

.#{$ns}-button-group:not([class*="#{$ns}-g-strech"]) .#{$ns}-button {
  min-width: 48px;
}

.#{$ns}-dark .#{$ns}-button-group .#{$ns}-button:not([class*="#{$ns}-intent-"]) {
  box-shadow: none;
}

// Fix - Button icons without intent not 100% white
$pt-gp-dark-icon-color: $g-white;

.#{$ns}-button {
  .#{$ns}-dark & {
    &:not([class*="#{$ns}-intent-"]) {
      &[class*="#{$ns}-icon-"]::before {
        color: $pt-gp-dark-icon-color;
      }

      #{$icon-classes} {
        &:not([class*="#{$ns}-intent-"]) {
          color: $pt-gp-dark-icon-color;
        }
      }
    }
  }
}

@mixin custom-button-kind($kind, $color: transparent, $background-color: transparent, $border: $background-color) {
  &.#{$ns}-kind-g-#{$kind} {
    color: $color;
    background-color: $background-color;
    box-shadow: inset 0 0 0 1px $border;

    .#{$ns}-icon {
      color: $color;
    }
  }
}

// CUSTOM kinds for buttons:
.#{$ns}-button[class*="#{$ns}-kind-g-"] {

  // Custom loading spinner inside Button:
  .#{$ns}-spinner {
    .#{$ns}-spinner-track {
      stroke: $g-dark-grey1;
    }

    .#{$ns}-spinner-head {
      stroke: $g-dark-grey4;
    }

    svg {
      stroke-width: 6px;
    }
  }

  box-shadow: none;

  // Color, background, border

  // Light Theme
  &:not([class*="#{$ns}-intent-"]) {
    @include custom-button-kind(primary, $g-white, $g-primary-400);
    @include custom-button-kind(secondary, $g-primary-400, $g-light-base4);
    @include custom-button-kind(stroked, black, transparent, $g-primary-400);
    @include custom-button-kind(ghost, $g-primary-400, transparent, transparent);
    @include custom-button-kind(group, $g-light-grey1, $g-light-base4);

    &:hover {
      @include custom-button-kind(primary, $g-white, $g-primary-300);
      @include custom-button-kind(secondary, $g-primary-300, $g-light-base5);
      @include custom-button-kind(stroked, $g-black, $g-light-base5, $g-primary-300);
      @include custom-button-kind(ghost, $g-primary-300, transparent, transparent);
      @include custom-button-kind(group, $g-light-grey1, $g-light-base5);
    }

    &:active,
    &.#{$ns}-active {
      @include custom-button-kind(primary, $g-white, $g-primary-300, $g-primary-100);
      @include custom-button-kind(secondary, $g-primary-300, $g-light-base5, $g-primary-100);
      @include custom-button-kind(stroked, $g-black, $g-light-base5, $g-primary-100);
      @include custom-button-kind(ghost, $g-primary-300, $g-light-base5, $g-primary-100);
      @include custom-button-kind(group, $g-white, $g-primary-400);
    }

    &:disabled,
    &.#{$ns}-disabled {
      @include custom-button-kind(primary, $g-primary-400, $g-primary-200);
      @include custom-button-kind(secondary, $g-primary-200, $g-light-base3);
      @include custom-button-kind(stroked, $g-light-grey3, transparent, $g-primary-200);
      @include custom-button-kind(ghost, $g-primary-200, transparent, transparent);
      @include custom-button-kind(group, $g-light-grey1, $g-light-base3);
    }
  }

  &.#{$ns}-intent-danger {
    @include custom-button-kind(primary, $g-white, $g-error-400);
    @include custom-button-kind(secondary, $g-error-400, $g-light-base4);
    @include custom-button-kind(stroked, black, transparent, $g-error-400);
    @include custom-button-kind(ghost, $g-error-400, transparent, transparent);

    &:hover {
      @include custom-button-kind(primary, $g-white, $g-error-300);
      @include custom-button-kind(secondary, $g-error-300, $g-light-base5);
      @include custom-button-kind(stroked, black, $g-light-base5, $g-error-300);
      @include custom-button-kind(ghost, $g-error-300, transparent, transparent);
    }

    &:active,
    &.#{$ns}-active {
      @include custom-button-kind(primary, $g-white, $g-error-300, $g-error-100);
      @include custom-button-kind(secondary, $g-error-300, $g-light-base5, $g-error-100);
      @include custom-button-kind(stroked, black, $g-light-base5, $g-error-100);
      @include custom-button-kind(ghost, $g-error-300, $g-light-base5, $g-error-100);
    }

    &:disabled,
    &.#{$ns}-disabled {
      @include custom-button-kind(primary, $g-error-400, $g-error-200);
      @include custom-button-kind(secondary, $g-error-200, $g-light-base3);
      @include custom-button-kind(stroked, $g-light-grey3, transparent, $g-error-200);
      @include custom-button-kind(ghost, $g-error-200, transparent, transparent);
    }
  }


  // Dark Theme
  .#{$ns}-dark & {

    // Custom loading spinner inside Button for dark theme:
    .#{$ns}-spinner {
      .#{$ns}-spinner-track {
        stroke: $g-dark-base0;
      }

      .#{$ns}-spinner-head {
        stroke: $g-dark-grey4;
      }

      svg {
        stroke-width: 6px;
      }
    }

    box-shadow: none;

    &:not([class*="#{$ns}-intent-"]) {
      @include custom-button-kind(primary, $g-white, $g-primary-600);
      @include custom-button-kind(secondary, $g-primary-600, $g-dark-base4);
      @include custom-button-kind(stroked, $g-white, transparent, $g-primary-600);
      @include custom-button-kind(ghost, $g-primary-600, transparent, transparent);
      @include custom-button-kind(group, $g-white, $g-dark-base4);

      &:hover {
        @include custom-button-kind(primary, $g-white, $g-primary-500);
        @include custom-button-kind(secondary, $g-primary-500, $g-dark-base5);
        @include custom-button-kind(stroked, $g-white, $g-dark-base5, $g-primary-500);
        @include custom-button-kind(ghost, $g-primary-500, transparent, transparent);
        @include custom-button-kind(group, $g-white, $g-dark-base5);
      }

      &:active,
      &.#{$ns}-active {
        @include custom-button-kind(primary, $g-white, $g-primary-500, $g-primary-300);
        @include custom-button-kind(secondary, $g-primary-500, $g-dark-base5, $g-primary-300);
        @include custom-button-kind(stroked, $g-white, $g-dark-base5, $g-primary-300);
        @include custom-button-kind(ghost, $g-primary-500, $g-dark-base5, $g-primary-300);
        @include custom-button-kind(group, $g-white, $g-primary-500);
      }

      &:disabled,
      &.#{$ns}-disabled {
        @include custom-button-kind(primary, $g-primary-400, $g-primary-700);
        @include custom-button-kind(secondary, $g-primary-700, $g-dark-base3);
        @include custom-button-kind(stroked, $g-dark-grey4, transparent, $g-primary-700);
        @include custom-button-kind(ghost, $g-primary-700, transparent, transparent);
        @include custom-button-kind(group, $g-dark-grey3, $g-dark-base3);
      }
    }

    &.#{$ns}-intent-danger {
      @include custom-button-kind(primary, $g-white, $g-error-600);
      @include custom-button-kind(secondary, $g-error-600, $g-dark-base4);
      @include custom-button-kind(stroked, $g-white, transparent, $g-error-600);
      @include custom-button-kind(ghost, $g-error-600, transparent, transparent);

      &:hover {
        @include custom-button-kind(primary, $g-white, $g-error-500);
        @include custom-button-kind(secondary, $g-error-500, $g-dark-base5);
        @include custom-button-kind(stroked, $g-white, $g-dark-base5, $g-error-500);
        @include custom-button-kind(ghost, $g-error-500, transparent, transparent);
      }

      &:active,
      &.#{$ns}-active {
        @include custom-button-kind(primary, $g-white, $g-error-500, $g-error-300);
        @include custom-button-kind(secondary, $g-error-500, $g-dark-base5, $g-error-300);
        @include custom-button-kind(stroked, $g-white, $g-dark-base5, $g-error-300);
        @include custom-button-kind(ghost, $g-error-500, $g-dark-base5, $g-error-300);
      }

      &:disabled,
      &.#{$ns}-disabled {
        @include custom-button-kind(primary, $g-error-400, $g-error-700);
        @include custom-button-kind(secondary, $g-error-700, $g-dark-base3);
        @include custom-button-kind(stroked, $g-dark-grey4, transparent, $g-error-700);
        @include custom-button-kind(ghost, $g-error-700, transparent, transparent);
      }
    }

  }
}

// CUSTOM class for extra-small and extra-large sizes:
.#{$ns}-button {
  &.#{$ns}-large {
    min-height: 40px;
    min-width: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
  }

  &.#{$ns}-g-extra-extra-small {
    min-height: 16px;
    min-width: 16px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    .#{$ns}-icon>svg {
      height: 10px;
      width: 10px;
    }
  }

  &.#{$ns}-g-extra-small {
    min-height: 20px;
    min-width: 20px;
    padding: 0 4px;
    .#{$ns}-icon>svg {
      height: 12px;
      width: 12px;
    }
  }
}

// CUSTOM class for action buttons with new sizes
.#{$ns}-button.#{$ns}-g-action-button {
  text-transform: uppercase;
  padding-left: 24px;
  padding-right: 24px;

  &.#{$ns}-g-extra-small,
  &.#{$ns}-g-extra-extra-small {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
  }

  &.#{$ns}-small {
    padding-left: 16px;
    padding-right: 16px;
  }

}

// CUSTOM class for small border radius on buttons
.#{$ns}-button.#{$ns}-g-button-small-border-radius {
  border-radius: 8px;
}

// CUSTOM class for extra small border radius on buttons
.#{$ns}-button.#{$ns}-g-button-extra-small-border-radius {
  border-radius: 2px;
}

// Change min-width of buttons in button-groups
.#{$ns}-button-group.#{$ns}-vertical:not([class*="#{$ns}-g-strech"]) .#{$ns}-button {
  min-width: 32px;
}
