.#{$ns}-dark .#{$ns}-slider-handle, .#{$ns}-dark .#{$ns}-slider-handle:hover{
  background-color: $pt-intent-primary;
}
.#{$ns}-dark .#{$ns}-slider-handle:active, .#{$ns}-dark .#{$ns}-slider-handle.#{$ns}-active{
  background-color: $pt-intent-primary;
}
.#{$ns}-slider-label{
  padding: 4px 8px;
  font-size: 11px;
}
.#{$ns}-slider.#{$ns}-axis-hidden .#{$ns}-slider-axis{
  display: none;
}
