@import "../../common/customs";

.#{$ns}-tag-input {
  .#{$ns}-input-ghost {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
  }
}

.#{$ns}-tag-input .#{$ns}-tag {
  overflow-wrap: break-word;
  background-color: $g-light-base3;
  border-radius: 24px;
  padding-left: 8px;
  box-shadow: $custom-shadow;
  color: black;
  font-size: 16px;
  font-weight: normal;

  .#{$ns}-dark & {
    background-color: $g-dark-base3;
    color: white;
  }

}
