@import "../../common/customs";

.#{$ns}-tag-input {
  .#{$ns}-input-ghost {
    width: 100%;
    font-size: 14px;
    line-height: 16px;

    &::placeholder {
      color: $g-light-grey3 !important;
      .#{$ns}-dark & {
        color: $g-dark-grey3 !important;
      }
    }
  }
}

.#{$ns}-tag-input .#{$ns}-tag {
  overflow-wrap: break-word;
  background-color: $g-light-base3;
  border-radius: 24px;
  padding-left: 8px;
  box-shadow: inset 0 0 0 1px $g-light-base5;
  color: $g-black;
  font-size: 16px;
  font-weight: normal;

  .#{$ns}-dark & {
    background-color: $g-dark-base3;
    color: $g-white;
    box-shadow: inset 0 0 0 1px $g-dark-base5;
  }

}
