/**
*   Be aware that in BP documentation, toast container (.bp3-toast) has also the .bp3-dark class.
*   But for example, in Graphext, the toast container does not have the dark identifier,
*   and it is a parent container (not direct) who has the class.

    For example:
    .#{$ns}-toast {
      background-color: $g-light-base3;

      &.#{$ns}-dark, // necessary if .bp3-toast + .bp3-dark are in the same container
      .#{$ns}-dark & { // necessary if .bp3-toast has a parent container with the bp3-dark class
        background-color: $g-dark-base3;
      }
    }
*/

.#{$ns}-toast {
  &:not([class*="#{$ns}-intent-"]) {
    background-color: $g-light-base3;

    &.#{$ns}-dark,
    .#{$ns}-dark & {
      background-color: $g-dark-base3;
    }
  }

  // Override close button color & hover for Toast with intent none
  .#{$ns}-button[aria-label="Close"] {
    &:not([class*="#{$ns}-intent-"]) {
      .#{$ns}-icon:not([class*="#{$ns}-intent-"]) {
        color: $g-light-active;
        .#{$ns}-dark & {
          color: $g-dark-active;
        }
      }

      &:hover,
      &:focus,
      &:active {
        background: none;

        .#{$ns}-icon:not([class*="#{$ns}-intent-"]) {
          color: $g-light-active-hover;
          .#{$ns}-dark & {
            color: $g-dark-active-hover;
          }
        }
      }
    }
  }

  // Override close button color & hover for Toast with intent
  &[class*="#{$ns}-intent-"] .#{$ns}-button[aria-label="Close"] {
    .#{$ns}-icon {
      color: $g-dark-grey1 !important;
    }

    &:hover,
    &:focus,
    &:active {
      background: none !important;

      .#{$ns}-icon {
        color: $g-white !important;
      }
    }
  }

  &.#{$ns}-g-toast-hide-close-button {
    .#{$ns}-button-group {
      .#{$ns}-button[aria-label="Close"] {
        display: none;
      }
    }
  }
}

