$pt-popover-background-color: $g-light-base3;
$pt-dark-popover-background-color: $g-dark-base3;

$popover-arrow-box-shadow: $g-shadow-light-1;
$dark-popover-arrow-box-shadow: $g-shadow-dark-1;

$pt-popover-box-shadow: $g-shadow-light-1;
$pt-dark-popover-box-shadow: $g-shadow-dark-1;
