.#{$ns}-popover {
  // To adjust arrow placement
  $g-tooltip2-arrow-adjust: 5px;

  border-radius: $pt-grid-size;

  &.#{$ns}-popover-placement-top .#{$ns}-popover-arrow {
    transform: translateY(- $g-tooltip2-arrow-adjust);
  }

  &.#{$ns}-popover-placement-left .#{$ns}-popover-arrow {
    transform: translateX(- $g-tooltip2-arrow-adjust);
  }

  &.#{$ns}-popover-placement-bottom .#{$ns}-popover-arrow {
    transform: translateY($g-tooltip2-arrow-adjust);
  }

  &.#{$ns}-popover-placement-right .#{$ns}-popover-arrow {
    transform: translateX($g-tooltip2-arrow-adjust);
  }

  // Remove shadow of arrow
  .#{$ns}-popover-arrow::before {
    box-shadow: none;
  }

  .#{$ns}-popover-content {
    border-radius: $pt-grid-size;
    padding: $pt-grid-size;
  }

  // Remove padding to Menu inside a Popover
  .#{$ns}-menu {
    padding: 0;
  }
}

// Intent-based popover appearance (migrated from popover2 overrides)
.#{$ns}-popover:not(.#{$ns}-tooltip), .#{$ns}-popover.#{$ns}-dark:not(.#{$ns}-tooltip) {
  @each $intent, $colors in $button-intents {
    &.#{$ns}-intent-#{$intent} {
      @include popover-appearance(
        nth($colors, 1),
        inherit,
        $pt-popover-box-shadow,
        $pt-drop-shadow-opacity,
        $pt-border-shadow-opacity
      );
    }
  }
}
