.#{$ns}-tag {
  color: $g-grey1;

  padding: 4px 8px;
  font-weight: 400;
  font-size: 14px;
  
  &:focus {
    outline: none;
  }

  // Custom class to have the icons and tag-remove on the top:
  &.#{$ns}-g-fixTop {
    align-items: stretch;
  }

  .#{$ns}-dark & {
    color: $g-dark-grey1;
  }

  &.#{$ns}-interactive {
    cursor: pointer;

    &:hover {
      background-color: $g-base4;
    }

    &.#{$ns}-active,
    &:active {
      background-color: $g-base3;
    }

    &.#{$ns}-g-disabled {
      cursor: not-allowed;
      background-color: $g-base3;
      color: $g-grey4;
    }

    .#{$ns}-dark & {
      &:hover {
        background-color: $g-dark-base4;
      }
  
      &.#{$ns}-active,
      &:active {
        background-color: $g-dark-base3;
      }
  
      &.#{$ns}-g-disabled {
        background-color: $g-dark-base3;
        color: $g-dark-grey3;
      }
    }
  }
}

.#{$ns}-tag .#{$ns}-large,
.#{$ns}-tag.#{$ns}-large {
  line-height: $pt-grid-size * 2;
  font-weight: 400;
  font-size: 14px;
  padding: 8px;
  border-radius: 12px;
  // This is forced because they use the 12px cross icon
  & .#{$ns}-tag-remove {
    padding: 0;
    margin-right: 0 !important;
  }
}

.#{$ns}-tag .#{$ns}-g-small,
.#{$ns}-tag.#{$ns}-g-small {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  min-height: 20px;
  padding: 2px 8px;
  
}

.#{$ns}-tag-remove:focus {
  outline: 0;
}

$g-tag-cross-svg: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.135 2.788a.462.462 0 01.653-.653L8 7.347l5.212-5.212a.462.462 0 11.653.653L8.653 8l5.212 5.212a.461.461 0 11-.653.653L8 8.653l-5.212 5.212a.461.461 0 11-.653-.653L7.347 8 2.135 2.788z' fill='%230091E4'/%3E%3C/svg%3E%0A");

.#{$ns}-tag-remove {
  color: $g-primary1;
  background-image: $g-tag-cross-svg;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  min-width: 16px;
  min-height: 16px;
  max-width: 16px;
  max-height: 16px;

  &:hover {
    background: $g-tag-cross-svg;
  }

  & svg {
    display: none;
  }
}
