@mixin custom-lozenge-color($colorName, $color: white, $background-color: transparent, $border: transparent) {
  &.#{$ns}-color-g-#{$colorName} {
    color: $color;
    background-color: $background-color;
    box-shadow: inset 0 0 0 1px $border;
  }
}

.#{$ns}-tag:not(.#{$ns}-g-lozenge) {
  font-size: $pt-font-size-small !important;
}

.#{$ns}-tag {
  color: $g-black;
  padding: 4px 8px;
  border-radius: $border-radius-custom;

  // For multiline tags
  >span>p {
    color: $g-black;
    font-size: $pt-font-size-small;
  }

  &:focus {
    outline: none;
  }

  // Custom class to have the icons and tag-remove on the top:
  &.#{$ns}-g-fixTop {
    align-items: stretch;
  }

  .#{$ns}-dark & {
    background-color: $dark-tag-default-color;
    color: $g-white;

    // For multiline tags
    >span>p {
      color: $g-white;
      font-size: $pt-font-size-small;
    }
  }

  // Interactive Tag:
  &.#{$ns}-interactive:not(.#{$ns}-g-toggle-tag) {
    cursor: pointer;

    &:hover {
      background-color: $g-light-base4;
    }

    &.#{$ns}-active,
    &:active {
      background-color: $g-light-base3;
    }

    &.#{$ns}-g-disabled {
      cursor: not-allowed;
      background-color: $g-light-base3;
      color: $g-light-grey2;
    }

    .#{$ns}-dark & {
      &:hover {
        background-color: $g-dark-base4;
      }

      &.#{$ns}-active,
      &:active {
        background-color: $g-dark-base3;
      }

      &.#{$ns}-g-disabled {
        background-color: $g-dark-base3;
        color: $g-dark-grey2;
      }
    }
  }

  // Lozenge
  &.#{$ns}-g-lozenge {
    border-radius: $border-radius-custom;
    font-size: $pt-font-size-extra-small;
    text-transform: uppercase;

    color: $g-light-grey2;
    background-color: $g-light-base2;

    // Custom kinds light theme:
    @include custom-lozenge-color('denim', $g-denim-700, $g-denim-200);
    @include custom-lozenge-color('avocado', $g-avocado-700, $g-avocado-200);
    @include custom-lozenge-color('lavender', $g-lavender-700, $g-lavender-200);
    @include custom-lozenge-color('plum', $g-plum-700, $g-plum-200);
    @include custom-lozenge-color('error', $g-error-700, $g-error-200);
    @include custom-lozenge-color('water', $g-water-700, $g-water-200);
    @include custom-lozenge-color('grass', $g-grass-700, $g-grass-200);
    @include custom-lozenge-color('base', $g-black, $g-light-base2);
    @include custom-lozenge-color('golden', $g-golden-700, $g-golden-200);
    @include custom-lozenge-color('wood', $g-wood-700, $g-wood-200);
    @include custom-lozenge-color('pacific', $g-pacific-700, $g-pacific-200);
    @include custom-lozenge-color('graphext', $g-graphext-700, $g-graphext-200);
    @include custom-lozenge-color('highlight', $g-highlight-700, $g-highlight-200);
    @include custom-lozenge-color('contrast-base', $g-white, $g-dark-base1);

    // Custom kinds dark theme:
    .#{$ns}-dark & {
      color: $g-dark-grey2;
      background-color: $g-dark-base2;

      @include custom-lozenge-color('denim', $g-white, $g-denim-600);
      @include custom-lozenge-color('avocado', $g-white, $g-avocado-600);
      @include custom-lozenge-color('lavender', $g-white, $g-lavender-600);
      @include custom-lozenge-color('plum', $g-white, $g-plum-600);
      @include custom-lozenge-color('error', $g-white, $g-error-600);
      @include custom-lozenge-color('water', $g-white, $g-water-600);
      @include custom-lozenge-color('grass', $g-white, $g-grass-600);
      @include custom-lozenge-color('base', $g-white, $g-dark-base2);
      @include custom-lozenge-color('golden', $g-white, $g-golden-600);
      @include custom-lozenge-color('wood', $g-white, $g-wood-600);
      @include custom-lozenge-color('pacific', $g-white, $g-pacific-600);
      @include custom-lozenge-color('graphext', $g-white, $g-graphext-600);
      @include custom-lozenge-color('highlight', $g-white, $g-highlight-600);
      @include custom-lozenge-color('contrast-base', $g-black, $g-light-base1);
    }

    // Disabled
    &.#{$ns}-g-disabled {
      color: $g-light-grey2;
      background-color: $g-light-base2;

      @include custom-lozenge-color('denim', $g-denim-400, $g-denim-200);
      @include custom-lozenge-color('avocado', $g-avocado-400, $g-avocado-200);
      @include custom-lozenge-color('lavender', $g-lavender-400, $g-lavender-200);
      @include custom-lozenge-color('plum', $g-plum-400, $g-plum-200);
      @include custom-lozenge-color('error', $g-error-500, $g-error-200);
      @include custom-lozenge-color('water', $g-water-500, $g-water-200);
      @include custom-lozenge-color('grass', $g-grass-500, $g-grass-200);
      @include custom-lozenge-color('base', $g-light-grey2, $g-light-base3);
      @include custom-lozenge-color('golden', $g-golden-700, $g-golden-200);
      @include custom-lozenge-color('wood', $g-wood-500, $g-wood-200);
      @include custom-lozenge-color('pacific', $g-pacific-500, $g-pacific-200);
      @include custom-lozenge-color('graphext', $g-graphext-500, $g-graphext-200);
      @include custom-lozenge-color('highlight', $g-highlight-400, $g-highlight-200);

      .#{$ns}-dark & {
        color: $g-dark-grey2;
        background-color: $g-dark-base2;

        @include custom-lozenge-color('denim', $g-denim-700, $g-denim-800);
        @include custom-lozenge-color('avocado', $g-avocado-700, $g-avocado-800);
        @include custom-lozenge-color('lavender', $g-lavender-700, $g-lavender-800);
        @include custom-lozenge-color('plum', $g-plum-700, $g-plum-800);
        @include custom-lozenge-color('error', $g-error-700, $g-error-800);
        @include custom-lozenge-color('water', $g-water-700, $g-water-800);
        @include custom-lozenge-color('grass', $g-grass-700, $g-grass-800);
        @include custom-lozenge-color('base', $g-dark-grey2, $g-dark-base2);
        @include custom-lozenge-color('golden', $g-golden-700, $g-golden-800);
        @include custom-lozenge-color('wood', $g-wood-700, $g-wood-800);
        @include custom-lozenge-color('pacific', $g-pacific-700, $g-pacific-800);
        @include custom-lozenge-color('graphext', $g-graphext-700, $g-graphext-800);
        @include custom-lozenge-color('highlight', $g-highlight-700, $g-highlight-800);
      }
    }

    // Interactive
    &.#{$ns}-interactive:not(.#{$ns}-g-disabled) {
      &:hover {
        color: $g-black;
        background-color: $g-light-base5;

        @include custom-lozenge-color('denim', $g-denim-700, $g-denim-100);
        @include custom-lozenge-color('avocado', $g-avocado-700, $g-avocado-100);
        @include custom-lozenge-color('lavender', $g-lavender-700, $g-lavender-100);
        @include custom-lozenge-color('plum', $g-plum-700, $g-plum-100);
        @include custom-lozenge-color('error', $g-error-700, $g-error-100);
        @include custom-lozenge-color('water', $g-water-700, $g-water-100);
        @include custom-lozenge-color('grass', $g-grass-700, $g-grass-100);
        @include custom-lozenge-color('base', $g-black, $g-light-base1);
        @include custom-lozenge-color('golden', $g-golden-700, $g-golden-100);
        @include custom-lozenge-color('wood', $g-wood-700, $g-wood-100);
        @include custom-lozenge-color('pacific', $g-pacific-700, $g-pacific-100);
        @include custom-lozenge-color('graphext', $g-graphext-700, $g-graphext-100);
        @include custom-lozenge-color('highlight', $g-highlight-700, $g-highlight-100);
      }

      &.#{$ns}-active,
      &:active {
        color: $g-black;
        background-color: $g-light-base5;
        box-shadow: inset 0 0 0 1px $g-black;

        @include custom-lozenge-color('denim', $g-denim-700, $g-denim-200, $g-denim-700);
        @include custom-lozenge-color('avocado', $g-avocado-700, $g-avocado-200, $g-avocado-700);
        @include custom-lozenge-color('lavender', $g-lavender-700, $g-lavender-200, $g-lavender-700);
        @include custom-lozenge-color('plum', $g-plum-700, $g-plum-200, $g-plum-700);
        @include custom-lozenge-color('error', $g-error-700, $g-error-200, $g-error-700);
        @include custom-lozenge-color('water', $g-water-700, $g-water-200, $g-water-700);
        @include custom-lozenge-color('grass', $g-grass-700, $g-grass-200, $g-grass-700);
        @include custom-lozenge-color('base', $g-black, $g-light-base2, $g-black);
        @include custom-lozenge-color('golden', $g-golden-700, $g-golden-200, $g-golden-700);
        @include custom-lozenge-color('wood', $g-wood-700, $g-wood-200, $g-wood-700);
        @include custom-lozenge-color('pacific', $g-pacific-700, $g-pacific-200, $g-pacific-700);
        @include custom-lozenge-color('graphext', $g-graphext-700, $g-graphext-200, $g-graphext-700);
        @include custom-lozenge-color('highlight', $g-highlight-700, $g-highlight-200, $g-highlight-700);
      }

      .#{$ns}-dark & {
        &:hover {
          color: $g-white;
          background-color: $g-dark-base5;

          @include custom-lozenge-color('denim', $g-white, $g-denim-500);
          @include custom-lozenge-color('avocado', $g-white, $g-avocado-500);
          @include custom-lozenge-color('lavender', $g-white, $g-lavender-500);
          @include custom-lozenge-color('plum', $g-white, $g-plum-500);
          @include custom-lozenge-color('error', $g-white, $g-error-500);
          @include custom-lozenge-color('water', $g-white, $g-water-500);
          @include custom-lozenge-color('grass', $g-white, $g-grass-500);
          @include custom-lozenge-color('base', $g-white, $g-dark-base3);
          @include custom-lozenge-color('golden', $g-white, $g-golden-500);
          @include custom-lozenge-color('wood', $g-white, $g-wood-500);
          @include custom-lozenge-color('pacific', $g-white, $g-pacific-500);
          @include custom-lozenge-color('graphext', $g-white, $g-graphext-500);
          @include custom-lozenge-color('highlight', $g-white, $g-highlight-500);

        }

        &.#{$ns}-active,
        &:active {
          color: $g-dark-grey2;
          background-color: $g-dark-base2;
          box-shadow: inset 0 0 0 1px $g-dark-base3;

          @include custom-lozenge-color('denim', $g-white, $g-denim-600, $g-denim-700);
          @include custom-lozenge-color('avocado', $g-white, $g-avocado-600, $g-avocado-700);
          @include custom-lozenge-color('lavender', $g-white, $g-lavender-600, $g-lavender-700);
          @include custom-lozenge-color('plum', $g-white, $g-plum-600, $g-plum-700);
          @include custom-lozenge-color('error', $g-white, $g-error-600, $g-error-700);
          @include custom-lozenge-color('water', $g-white, $g-water-600, $g-water-700);
          @include custom-lozenge-color('grass', $g-white, $g-grass-600, $g-grass-700);
          @include custom-lozenge-color('base', $g-white, $g-dark-base2, $g-dark-base3);
          @include custom-lozenge-color('golden', $g-white, $g-golden-600, $g-golden-700);
          @include custom-lozenge-color('wood', $g-white, $g-wood-600, $g-wood-700);
          @include custom-lozenge-color('pacific', $g-white, $g-pacific-600, $g-pacific-700);
          @include custom-lozenge-color('graphext', $g-white, $g-graphext-600, $g-graphext-700);
          @include custom-lozenge-color('highlight', $g-white, $g-highlight-600, $g-highlight-700);
        }
      }
    }
  }

  // CUSTOM kind for Tag component
  &.#{$ns}-g-toggle-tag {
    border-radius: $border-radius-custom;
    background-color: transparent;
    color: $g-black;

    &.#{$ns}-g-disabled {
      background-color: transparent;
      opacity: 0.6;

      &.#{$ns}-interactive {
        cursor: pointer;
      }
    }

    &.#{$ns}-interactive {
      &:hover {
        background-color: $g-light-base5;
      }

      &.#{$ns}-active,
      &:active {
        background-color: $g-light-base5;
        opacity: 1;
      }
    }

    .#{$ns}-dark & {
      background-color: transparent;
      color: $g-white;

      &.#{$ns}-interactive {
        &:hover {
          background-color: $g-dark-base5;
        }

        &.#{$ns}-active,
        &:active {
          background-color: $g-dark-base5;
          opacity: 1;
        }
      }

    }
  }

}

.#{$ns}-tag .#{$ns}-large :not(.#{$ns}-g-lozenge),
.#{$ns}-tag.#{$ns}-large:not(.#{$ns}-g-lozenge) {
  line-height: $pt-grid-size * 2;
  font-size: $pt-font-size;
  padding: 8px;
  border-radius: $border-radius-custom;

  &.#{$ns}-g-toggle-tag,
  & .#{$ns}-g-toggle-tag {
    border-radius: $border-radius-custom;
  }

  // This is forced because they use the 12px cross icon
  & .#{$ns}-tag-remove {
    padding: 0;
    margin-right: 0 !important;
  }
}

.#{$ns}-tag .#{$ns}-large .#{$ns}-g-lozenge,
.#{$ns}-tag.#{$ns}-large.#{$ns}-g-lozenge {
  font-size: $pt-font-size-extra-small;
  padding: 8px;
  border-radius: $border-radius-custom;
}

.#{$ns}-tag .#{$ns}-g-small,
.#{$ns}-tag.#{$ns}-g-small {
  font-size: $pt-font-size-extra-small;
  min-height: 20px;
  padding: 2px 8px;

}

.#{$ns}-tag-remove:focus {
  outline: 0;
}

/* fill g-x-small icon with the given color */
@mixin g-x-small($color) {
  background: svg-icon("16px/g-x-small.svg", (path: (fill: $color)));
}


.#{$ns}-tag-remove {
  @include g-x-small($g-light-active);
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  min-width: 16px;
  min-height: 16px;
  max-width: 16px;
  max-height: 16px;

  .#{$ns}-dark & {
    @include g-x-small($g-dark-active);
  }

  &:hover {
    @include g-x-small($g-light-active-hover);
    .#{$ns}-dark & {
      @include g-x-small($g-dark-active-hover);
    }
  }

  & svg {
    display: none;
  }
}
