// Common
$input-padding-horizontal: $pt-grid-size * 2;
$input-font-weight: 300;

$dark-input-background-color: $g-dark-base4;
$dark-input-background-color-disabled: $g-dark-base4;
$dark-input-shadow-color-focus: transparent;
$input-color-disabled: $g-light-grey3 !default;


$input-background-color: $g-light-base4;
$input-background-color-disabled: $g-light-base4;
$input-shadow-color-focus: transparent;
$dark-input-color-disabled: $g-dark-grey3 !default;

$input-box-shadow: 0 0 0 0 transparent;
$input-box-shadow-focus: 0 0 0 0 transparent;
$pt-dark-input-box-shadow: 0 0 0 0 transparent;

$input-placeholder-color: $g-light-grey3;
$dark-input-placeholder-color: $g-dark-grey3;

// Controls
$dark-switch-background-color: $dark-gray2;
$dark-control-background-color-hover: $dark-gray4;

$pt-input-height-small: 24px;

$control-background-color: $g-light-base4 !default;
$control-background-color-hover: $g-light-base4 !default;
$control-background-color-active: $g-light-base4 !default;

$dark-control-background-color: $g-dark-base4 !default;
$dark-control-background-color-hover: $g-dark-base4 !default;
$dark-control-background-color-active: $g-dark-base4 !default;

$pt-divider-black: $g-light-base5;
$pt-dark-divider-white: $g-dark-base5;
