// Common
$input-padding-horizontal: $pt-grid-size * 2;
$input-font-weight: 300;

$dark-input-background-color: $g-dark-base4;
$dark-input-shadow-color-focus: transparent;

$input-background-color: $g-light-base4;
$input-shadow-color-focus: transparent;

$input-box-shadow: 0 0 0 0 transparent;
$input-box-shadow-focus: 0 0 0 0 transparent;
$pt-dark-input-box-shadow: 0 0 0 0 transparent;


// Controls
$dark-switch-background-color: $dark-gray2;
$dark-control-background-color-hover: $dark-gray4;

$pt-input-height-small: 24px;
