// Control group
.#{$ns}-control-group {

  &:not(.#{$ns}-vertical) {
    > :not(:last-child) {
      /* To avoid gap between items */
      margin-right: -1px !important;
    }
  }

  .#{$ns}-input {
    // inherit radius since it's most likely to be zero
    border-radius: inherit;

    // inherit radius on focus too to avoid the input to change border radius on focus
    &:focus {
      border-radius: inherit;
    }
  }

  .#{$ns}-button,
  .#{$ns}-select select {
    // inherit radius since it's most likely to be zero
    border-radius: inherit;
  }

  // round the left corners of the left-most element
  > :first-child {
    border-radius: $pt-button-border-radius 0 0 $pt-button-border-radius;
  }

  // round the right corners of the right-most element
  > :last-child {
    margin-right: 0;
    border-radius: 0 $pt-button-border-radius $pt-button-border-radius 0 !important;
  }

  // round all the corners of the only child element
  > :only-child {
    border-radius: $pt-button-border-radius !important;
    margin-right: 0;
  }

  // bring back border radius on these buttons
  .#{$ns}-input-group .#{$ns}-button {
    border-radius: $pt-border-radius;
  }


  &.#{$ns}-vertical {

    > :first-child {
      margin-top: 0;
      border-radius: $pt-border-radius $pt-border-radius 0 0;
    }

    > :last-child {
      border-radius: 0 0 $pt-border-radius $pt-border-radius;
    }
  }
}

/**
  * BP uses box-shadow to add border without changing the size of the element.
 *  Here we use it to add a subtle border in elements like: checkbox & radio button.
 */
@mixin box-shadow-as-border($color) {
  box-shadow: inset 0 0 0 1px $color !important;
}

.#{$ns}-control.#{$ns}-disabled {
  color: $g-light-grey2;
  .#{$ns}-dark & {
    color: $g-dark-grey2;
  }
}

// CheckBox
/**
* We want a custom checked state: we change the background-image added with ::before selector.
* Also, we want custom colors.
*/
.#{$ns}-control {
  &.#{$ns}-checkbox {
    .#{$ns}-control-indicator {
      border-radius: 4px;
      background-image: none;
      @include box-shadow-as-border($g-light-base5);

      .#{$ns}-dark & {
        @include box-shadow-as-border($g-dark-base5);
      }
    }

    input:checked ~ .#{$ns}-control-indicator,
    input:indeterminate ~ .#{$ns}-control-indicator {
      background-color: $g-light-active;
      /* weird bug => it is noticeable even though it is the same color as the bg */
      box-shadow: inset 0 0 0 0 !important;

      .#{$ns}-dark & {
        background-color: $g-dark-active;
        /* weird bug => it is noticeable even though it is the same color as the bg */
        box-shadow: inset 0 0 0 0 !important;
      }
    }

    /* Checked indicator: always white if not disabled */
    input:checked ~ .#{$ns}-control-indicator {
      &::before {
        background-image: svg-icon("16px/g-check.svg", (path: (fill: $g-white)));
        scale: 0.8;
      }
    }
    input:indeterminate ~ .#{$ns}-control-indicator {
      &::before {
        background-image: svg-icon("16px/g-less.svg", (path: (fill: $g-white)));
        scale: 0.8;
      }
    }
  }

  /* Checked indicator (check or -) when disabled should change accordingly to current theme */
  &.#{$ns}-checkbox.#{$ns}-disabled {
    input:checked ~ .#{$ns}-control-indicator {
      &::before {
        background-image: svg-icon("16px/g-check.svg", (path: (fill: $g-light-active-text-disabled))) !important;
        .#{$ns}-dark & {
          background-image: svg-icon("16px/g-check.svg", (path: (fill: $g-dark-active-text-disabled))) !important;
        }
      }
    }
    input:indeterminate ~ .#{$ns}-control-indicator {
      &::before {
        background-image: svg-icon("16px/g-less.svg", (path: (fill: $g-light-active-text-disabled)));
        .#{$ns}-dark & {
          background-image: svg-icon("16px/g-less.svg", (path: (fill: $g-dark-active-text-disabled)));
        }
      }
    }
  }

  /* when disabled */
  &.#{$ns}-checkbox.#{$ns}-disabled {
    .#{$ns}-control-indicator {
      background-color: $g-light-base4;
      .#{$ns}-dark & {
        background-color: $g-dark-base4;
      }
    }
    input:checked ~ .#{$ns}-control-indicator,
    input:indeterminate ~ .#{$ns}-control-indicator {
      background-color: $g-light-active-disabled !important;
      @include box-shadow-as-border($g-light-active-disabled);

      .#{$ns}-dark & {
        background-color: $g-dark-active-disabled !important;
        @include box-shadow-as-border($g-dark-active-disabled);
      }
    }
  }
}

.#{$ns}-control:not(.#{$ns}-disabled):hover {
  &.#{$ns}-checkbox {
    input:checked ~ .#{$ns}-control-indicator,
    input:indeterminate ~ .#{$ns}-control-indicator {
      background-color: $g-light-active;
      .#{$ns}-dark & {
        background-color: $g-dark-active;
      }
    }

    .#{$ns}-control-indicator {
      @include box-shadow-as-border($g-light-active-border);

      .#{$ns}-dark & {
        @include box-shadow-as-border($g-dark-active-border);
      }
    }
  }
}

// Radio
/**
* We use the opposite colors that BP proposes for checked radio:
*   - BP: center white and border blue
*   - Graphext: center blue and border white
*/

.#{$ns}-control {
  &.#{$ns}-radio {
    line-height: 16px;

    .#{$ns}-control-indicator {
      background-image: none;
      @include box-shadow-as-border($g-light-base5);
      .#{$ns}-dark & {
        @include box-shadow-as-border($g-dark-base5);
      }
    }

    input:checked ~ .#{$ns}-control-indicator::before {
      background-image: radial-gradient($g-light-active, $g-light-active 33%, transparent 37%);
      .#{$ns}-dark & {
        background-image: radial-gradient($g-dark-active, $g-dark-active 33%, transparent 37%);
      }
    }

    input:checked ~ .#{$ns}-control-indicator {
      background-color: $g-light-base4;
      background-image: none;
      @include box-shadow-as-border($g-light-active);

      .#{$ns}-dark & {
        background-image: none;
        background-color: $g-dark-base4;
        @include box-shadow-as-border($g-dark-active);
      }
    }
  }
}

.#{$ns}-control.#{$ns}-disabled {
  &.#{$ns}-radio {
    input:checked ~ .#{$ns}-control-indicator::before {
      opacity: 1;
      background-image: radial-gradient($g-light-active-disabled, $g-light-active-disabled 33%, transparent 37%);
      .#{$ns}-dark & {
        background-image: radial-gradient($g-dark-active-disabled, $g-dark-active-disabled 33%, transparent 37%);
      }
    }

    .#{$ns}-control-indicator {
      background-color: $g-light-base4;
      .#{$ns}-dark & {
        background-color: $g-dark-base4;
      }
    }

    input:checked ~ .#{$ns}-control-indicator {
      @include box-shadow-as-border($g-light-active-disabled);

      .#{$ns}-dark & {
        @include box-shadow-as-border($g-dark-active-disabled);
      }
    }
  }
}

.#{$ns}-control:not(.#{$ns}-disabled):hover {
  &.#{$ns}-radio {
    .#{$ns}-control-indicator {
      background-color: $g-light-base4 !important;
      @include box-shadow-as-border($g-light-active-border);

      .#{$ns}-dark & {
        background-color: $g-dark-base4 !important;
        @include box-shadow-as-border($g-dark-active-border);
      }
    }
  }
}


// Inputs
// (every input is a round input for us)

@mixin box-shadow-default-style {
  &:focus,
  &:hover {
    @include box-shadow-as-border($g-light-base5);
    .#{$ns}-dark & {
      @include box-shadow-as-border($g-dark-base5);
    }
  }
}

.#{$ns}-input {
    &:disabled {
      &::placeholder {
        color: $g-light-grey3 !important;
        .#{$ns}-dark & {
          color: $g-dark-grey3 !important;
        }
      }
    }

  font-weight: normal;
  border-radius: $pt-input-height / 2;
  box-sizing: border-box;
  padding-left: $input-padding-horizontal;
  padding-right: $input-padding-horizontal;

  color: $g-black;
  .#{$ns}-dark & {
    color: $g-white;
  }
  &.#{$ns}-large {
    padding: 0 $input-padding-horizontal * 1.5;
  }
  @include box-shadow-default-style;
}

/*  For input-intent-danger and input-intent-primary, we want:
      - default color: g-[color]-600 + hover: g-[color]-500
      - disabled: g-[color]-800 (without hover effect)

    Be aware that it should work with both InputGroup & Input:
      InputGroup html:
       <div class="bp3-input-group bp3-intent-primary">
          (...)
          <input class="bp3-input">
          (...)
       </div>

      Input html:
       <input class="bp3-input bp3-intent-primary">

*/

/*It includes :focus because it should behave the same as hover effect */
@mixin box-shadow-hover-and-disabled($color, $color-disabled) {
  &:focus,
  &:hover {
    &:disabled {
      box-shadow: $color-disabled !important;
    }
    @include box-shadow-as-border($color);
  }

  &:disabled {
    @include box-shadow-as-border($color-disabled);
  }
}

.#{$ns}-input {
  @include box-shadow-as-border($g-light-base5);
  .#{$ns}-dark & {
    @include box-shadow-as-border($g-dark-base5);
  }
}

.#{$ns}-input-group {
  /* To show icon with intent (e.g, search icon in select) */
  .#{$ns}-icon.#{$ns}-intent-primary {
    color: $g-light-active;
    .#{$ns}-dark & {
      color: $g-dark-active;
    }
  }

  .#{$ns}-input {
    @include box-shadow-as-border($g-light-base5);

    .#{$ns}-dark & {
      @include box-shadow-as-border($g-dark-base5);
    }
  }
}

.#{$ns}-input-group.#{$ns}-disabled {
  /* To show icon with intent (e.g, search icon in select) */
  .#{$ns}-icon.#{$ns}-intent-primary {
    color: $g-light-active-disabled !important;
    .#{$ns}-dark & {
      color: $g-dark-active-disabled !important;
    }
  }
}


.#{$ns}-input.#{$ns}-intent-danger {
  @include box-shadow-as-border($g-error-500);
  @include box-shadow-hover-and-disabled($g-error-500, $g-error-500);
  .#{$ns}-dark & {
    @include box-shadow-as-border($g-error-600);
    @include box-shadow-hover-and-disabled($g-error-600, $g-error-600);
  }
}

.#{$ns}-input-group.#{$ns}-intent-danger {
  .#{$ns}-input {
    @include box-shadow-as-border($g-error-500);
    @include box-shadow-hover-and-disabled($g-error-500, $g-error-500);
    .#{$ns}-dark & {
      @include box-shadow-as-border($g-error-600);
      @include box-shadow-hover-and-disabled($g-error-600, $g-error-600);
    }
  }
}

.#{$ns}-input.#{$ns}-intent-primary {
  @include box-shadow-as-border($g-light-active);
  @include box-shadow-hover-and-disabled($g-light-active, $g-light-active);
  .#{$ns}-dark & {
    @include box-shadow-as-border($g-dark-active);
    @include box-shadow-hover-and-disabled($g-dark-active, $g-dark-active);
  }
}

.#{$ns}-input-group.#{$ns}-intent-primary {
  .#{$ns}-input {
    @include box-shadow-as-border($g-light-active);
    @include box-shadow-hover-and-disabled($g-light-active, $g-light-active);
    .#{$ns}-dark & {
      @include box-shadow-as-border($g-dark-active);
      @include box-shadow-hover-and-disabled($g-dark-active, $g-dark-active);
    }
  }
}

/* We think that intent warning & success are not very useful => default colors */
.#{$ns}-input.#{$ns}-intent-warning,
.#{$ns}-input.#{$ns}-intent-success {
 @include box-shadow-default-style;
}

.#{$ns}-input-group.#{$ns}-intent-warning,
.#{$ns}-input-group.#{$ns}-intent-success {
  .#{$ns}-input {
    @include box-shadow-default-style;
  }
}


// Numeric Input Control Group
.#{$ns}-numeric-input {
  .#{$ns}-button-group.#{$ns}-vertical > .#{$ns}-button {
    //fix numeric input buttons
    &:first-child {
      border-radius: 0 $pt-border-radius 0 0;
    }
    &:last-child {
      border-radius: 0 0 $pt-border-radius 0;
    }

    box-shadow: none;
    background-color: $g-light-base4;

    .#{$ns}-dark & {
      background-color: $g-dark-base4;
    }

    & > .#{$ns}-icon {
      transform: scale(0.8);
      color: $g-light-active;
      .#{$ns}-dark & {
        color: $g-dark-active;
      }
    }
  }
  .#{$ns}-button-group.#{$ns}-vertical {
    border: 1px solid $g-light-base5;
    .#{$ns}-dark & {
      border-color: $g-dark-base5;
    }
  }
}


/*
* Switch (toggle).
* Check '_customs.scss' to see the main colors.
* We included here the changes that can't be done just changing the variables that BP provides.
* For example it is included here: different circle color when checked or custom border when hover.
*/

.#{$ns}-control.bp3-switch .#{$ns}-control-indicator:before {
  box-shadow: none;
}

.#{$ns}-switch {
  &.#{$ns}-align-right .#{$ns}-control-indicator {
    margin-top: 0; /* Fix vertical alignment for align-right switch */
  }

  .#{$ns}-switch-inner-text {
    text-transform: uppercase; /* off / on text in uppercase */
  }


  /* This is needed to ensure the correct colors of the inner circle (when no checked) */
  .#{$ns}-control-indicator {
    &::before {
      background: $switch-indicator-background-color !important;
      .#{$ns}-dark & {
        background-color: $dark-switch-indicator-background-color !important;
      }
    }
  }

  &.#{$ns}-control.#{$ns}-disabled {
    .#{$ns}-control-indicator {
      &::before {
        background: $switch-indicator-background-color-disabled !important;
        .#{$ns}-dark & {
          background-color: $dark-switch-indicator-background-color-disabled !important;
        }
      }
    }
  }
  /*-----*/

  input:checked ~ .#{$ns}-control-indicator {
    /* border when checked */
    @include box-shadow-as-border($g-light-active);
    .#{$ns}-dark & {
      @include box-shadow-as-border($g-dark-active);
    }

    /* off / on text color when checked */
    & .#{$ns}-switch-inner-text {
      color: $g-black;
      .#{$ns}-dark & {
        color: $g-white;
      }
    }

    /* inner circle when checked */
    &::before {
      background-color: $g-highlight-100 !important;
      .#{$ns}-dark & {
        background-color: $g-highlight-300 !important;
      }
    }
  }

  /* inner circle when checked but disabled */
  &.#{$ns}-control.#{$ns}-disabled {
    input:checked ~ .#{$ns}-control-indicator::before {
      background-color: $g-highlight-200 !important;
      .#{$ns}-dark & {
        background-color: $g-highlight-400 !important;
      }
    }
  }

  /* text color + border when disabled */
  &.#{$ns}-control.#{$ns}-disabled {
    color: $g-light-grey2; /* label text */
    .#{$ns}-dark & {
      color: $g-dark-grey2; /* label text */
    }
    .#{$ns}-switch-inner-text {
      color: $g-light-grey3 !important; /* inner text: OFF / ON */
      .#{$ns}-dark & {
        color: $g-dark-grey3 !important; /* inner text: OFF / ON */
      }
    }

    /* border when checked but disabled */
    input:checked ~ .#{$ns}-control-indicator {
       @include box-shadow-as-border($g-light-active-disabled);
      .#{$ns}-dark & {
        @include box-shadow-as-border($g-dark-active-disabled);
      }
      /* inner text (ON) */
      .#{$ns}-switch-inner-text {
        color: $g-light-active-text-disabled !important;
        .#{$ns}-dark & {
          color: $g-dark-active-text-disabled !important;
        }
      }
    }
  }

  /* border when no checked (default) */
  &.#{$ns}-control {
    line-height: $control-indicator-size;

    /* when it is not checked, we want the 'off' color as grey1 (dark or light) */
    .#{$ns}-switch-inner-text {
      color: $g-light-grey1;
      .#{$ns}-dark & {
        color: $g-dark-grey1;
      }
    }

    .#{$ns}-control-indicator {
      @include box-shadow-as-border($g-light-base5);
      .#{$ns}-dark & {
        @include box-shadow-as-border($g-dark-base5);
      }
    }
  }

  /* border when hover (if it is disabled => no effect) */
  &.#{$ns}-control:not(.#{$ns}-disabled):hover {
    .#{$ns}-control-indicator {
      @include box-shadow-as-border($g-light-active-border);
      .#{$ns}-dark & {
         @include box-shadow-as-border($g-dark-active-border);
      }
    }
  }
}


// Form Group
.#{$ns}-form-group {
  margin-bottom: 0; /* Reset margin-bottom */

  &.#{$ns}-inline label.#{$ns}-label {
    /* Use padding-right instead of margin-right for inline labels,
       so it does not affect flex-basis */
    padding-right: $pt-grid-size;
    margin-right: 0;
  }

  &:not(.#{$ns}-inline) label.#{$ns}-label {
    /* We need a flex layout to position labelInfo at the end of the FormGroup */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 14px; /* Fixed height to avoid labelInfo to increase label height */
  }

  /* Clear margins for first & last controls in a Form group */
  .#{$ns}-control:first-child {
    margin-top: 0;
  }
  .#{$ns}-control:last-child {
    margin-bottom: 0;
  }

  /* Clear margins for inline controls in a Form group */
  .#{$ns}-control.#{$ns}-inline {
    margin-top: 0;
    margin-bottom: 0;
  }
}


// Label
label.#{$ns}-label {
  // Preserve BP5 spacing
  margin-bottom: $pt-grid-size * 1.5;
  color: $g-light-grey2;
  font-size: $pt-font-size-small;

  .#{$ns}-dark & {
    color: $g-dark-grey2;
  }
}
