$card-background-color: $g-light-base3;
$dark-card-background-color: $g-dark-base3;

$card-hover-border-color: $g-light-base5;
$dark-card-hover-border-color: $g-dark-base5;

$pt-elevation-shadow-3: $g-shadow-light-1;
$pt-dark-elevation-shadow-3: $g-shadow-dark-1;
