.#{$ns}-card {
  border: 1px solid $card-background-color;

  &.#{$ns}-dark,
  .#{$ns}-dark & {
    border: 1px solid $dark-card-background-color;
  }

  &.#{$ns}-clickable:hover {
    border-color: $card-hover-border-color;

    &.#{$ns}-dark,
    .#{$ns}-dark & {
      border-color: $dark-card-hover-border-color;
    }
  }

  &.#{$ns}-disabled {
    pointer-events: none;

    > * {
      opacity: .85;
    }

    &.#{$ns}-dark,
    .#{$ns}-dark & {
      > * {
        opacity: .6;
      }
    }

    &.#{$ns}-interactive:hover {
      box-shadow: none;
      cursor: auto;
    }
  }

  &.#{$ns}-kind-g-active,
  &.#{$ns}-kind-g-active.#{$ns}-clickable:hover {
    border-color: $g-primary-700;
  }

  &.#{$ns}-g-opened {
    border-color: $g-light-base5;
    .#{$ns}-dark & {
      border-color: $g-dark-base5;
    }
  }

  &.#{$ns}-kind-g-error,
  &.#{$ns}-kind-g-error.#{$ns}-clickable:hover {
    border-color: $g-error-600;
  }

  &.#{$ns}-kind-g-dashed {
    border: 1px dashed $g-light-grey3;
    .#{$ns}-dark & {
      border-color: $g-dark-grey3;
    }
  }

  &.#{$ns}-kind-g-dashed.#{$ns}-clickable:hover {
    border-color: $g-light-grey1;
    .#{$ns}-dark & {
      border-color: $g-dark-grey1;
    }
  }

  &.#{$ns}-disabled {
    &.#{$ns}-kind-g-dashed {
      border-color: $g-light-grey4;
      .#{$ns}-dark & {
        border-color: $g-dark-grey4;
      }
    }
  }

  &.#{$ns}-g-transparent {
    background-color: transparent;
  }
}
