.#{$ns}-card {
  border: 1px solid $card-background-color;

  &.#{$ns}-dark,
  .#{$ns}-dark & {
    border: 1px solid $dark-card-background-color;
  }

  &.#{$ns}-clickable:hover {
    border-color: $card-hover-border-color;

    &.#{$ns}-dark,
    .#{$ns}-dark & {
      border-color: $dark-card-hover-border-color;
    }
  }

  &.#{$ns}-disabled {
    pointer-events: none;

    > * {
      opacity: .4;
    }

    &.#{$ns}-dark,
    .#{$ns}-dark & {
      > * {
        opacity: .6;
      }
    }

    &.#{$ns}-interactive:hover {
      box-shadow: none;
      cursor: auto;
    }
  }

  &.#{$ns}-kind-g-active,
  &.#{$ns}-kind-g-active.#{$ns}-clickable:hover {
    border-color: $g-light-active-hover;
    .#{$ns}-dark & {
      border-color: $g-dark-active-hover;
    }
  }

  &.#{$ns}-g-opened {
    border-color: $g-light-base5;
    &.#{$ns}-kind-g-error & {
      border-color: $g-error-600;
    }
    .#{$ns}-dark & {
      border-color: $g-dark-base5;
      &.#{$ns}-kind-g-error {
        border-color: $g-error-600;
      }
    }
  }

  &.#{$ns}-kind-g-error {
    border-color: $g-error-600;
  }

  &.#{$ns}-kind-g-error.#{$ns}-clickable:hover {
    border-color: $g-error-500;
  }

  &.#{$ns}-kind-g-dashed {
    border: 1px dashed $g-highlight-500;
    .#{$ns}-dark & {
      border-color: $g-highlight-600;
    }
  }

  &.#{$ns}-kind-g-dashed.#{$ns}-clickable:hover {
    border-color: $g-highlight-600;
    .#{$ns}-dark & {
      border-color: $g-highlight-500;
    }
  }

  &.#{$ns}-disabled {
    &.#{$ns}-kind-g-dashed {
      border-color: $g-highlight-300;
      .#{$ns}-dark & {
        border-color: $g-highlight-700;
      }
    }
  }

  &.#{$ns}-g-transparent {
    background-color: transparent;
  }

  &.#{$ns}-g-intent-primary {
    background-color: $g-light-active;
    border-color: $g-light-active;
    .#{$ns}-dark & {
      background-color: $g-dark-active;
      border-color: $g-dark-active;
    }

    &.#{$ns}-interactive:hover {
      border-color: $g-primary-200 ;
      background-color: $g-light-active-hover;

      .#{$ns}-dark & {
        border-color: $g-primary-300;
        background-color: $g-dark-active-hover;
      }
    }
  }
}
