// Copyright 2018 Graphext

// easily the most important variable, so it comes first
// (so other variables can use it to define themselves)
$pt-grid-size: 8px;

// see https://bitsofco.de/the-new-system-font-stack/
$pt-font-family: "LatoLatin";

$pt-font-size: 14px;
$pt-font-size-large: 16px;
$pt-font-size-small: 12px;

// a little bit extra to ensure the height comes out to just over 18px (and browser rounds to 18px)
$pt-line-height: ($pt-grid-size * 2.25) / $pt-font-size + 0.0001;

$pt-border-radius: 16px;

$pt-input-height: 32px;

// Buttons
$pt-button-height: 32px;
$pt-button-height-small: 24px;
$pt-button-height-large: 40px;


// ------------------------- Colors -----------------------------------

$black: #000000;

$dark-gray0: #161616;
$dark-gray1: #1F2024;
$dark-gray2: #272B33;
$dark-gray3: #2A2E38;
$dark-gray4: #313641;
$dark-gray5: #363B47;

$blue1: #00507f;
$blue2: #0071b2;
$blue3: #0091e5;
$blue4: #00a1ff;
$blue5: #47b2f0;

$green1: #0a6640;
$green2: #0d8050;
$green3: #0f9960;
$green4: #15b371;
$green5: #3dcc91;

$orange1: #a66321;
$orange2: #bf7326;
$orange3: #d9822b;
$orange4: #f29d49;
$orange5: #ffb366;

$red1: #a82a2a;
$red2: #c23030;
$red3: #db3737;
$red4: #f55656;
$red5: #ff7373;

$white1: #ffffff;
$white2: rgba(255, 255, 255, 0.8);
$white3: rgba(255, 255, 255, 0.5);
$white4: rgba(255, 255, 255, 0.3);

$pt-intent-primary: #0091E4;
$pt-dark-link-color: $pt-intent-primary; // for links

$pt-intent-text-colors: (
  "primary": $pt-intent-primary,
  "success": $green2,
  "warning": $orange2,
  "danger" : $red2,
);

$pt-dark-intent-text-colors: (
  "primary": $pt-intent-primary,
  "success": $green5,
  "warning": $orange5,
  "danger" : $red5,
);

$pt-dark-text-color-muted: $white3 !default;


// ------------------------- Color aliases -------------------------------

$pt-dark-icon-color: $white3;
$pt-dark-icon-color-hover: $white3;

$pt-dark-divider-black: $white3;


// ------------------------- Components -------------------------------

// Custom shadow for buttons, selects, tag-inputs, tooltips & datetime
$custom-shadow: 0 0 12px rgba($black, 0.25);

// Custom shadow for popover (New Design System)
$pt-dark-border-shadow-opacity: 0.1;

// ------------------------- New Design System Colors -------------------------------

// Functions to get tint effect
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

// Functions to get shade effect
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

$g-dark-primary1: #0091E4;
$g-dark-primary2: tint($g-dark-primary1, 20%); //20% tint
$g-dark-primary3: shade($g-dark-primary1, 20%); //20% shade
$g-dark-primary4: shade($g-dark-primary1, 30%); //30% shade
$g-dark-primary5: shade($g-dark-primary1, 40%); //40% shade

$g-white: hsl(0, 0%, 100%);
$g-black: hsl(0, 0%, 10%);

$g-primary1: shade($g-dark-primary1, 20%);
$g-primary2: shade($g-dark-primary2, 20%);
$g-primary3: shade($g-dark-primary3, 20%);
$g-primary4: shade($g-dark-primary4, 30%);
$g-primary5: shade($g-dark-primary5, 20%);

$g-dark-grey1: hsl(220, 4%, 84%);
$g-dark-grey2: hsl(220, 4%, 84%);
$g-dark-grey3: hsl(223, 3%, 59%);
$g-dark-grey4: hsl(222, 5%, 44%);

$g-grey1: $g-dark-grey4;
$g-grey2: $g-dark-grey3;
$g-grey3: $g-dark-grey2;
$g-grey4: $g-dark-grey1;

$g-dark-base0: hsl(0, 0%, 9%);
$g-dark-base1: hsl(228, 7%, 13%);
$g-dark-base2: hsl(220, 13%, 18%);
$g-dark-base3: hsl(225, 14%, 19%);
$g-dark-base4: hsl(221, 14%, 22%);
$g-dark-base5: hsl(225, 13%, 25%);

// To Be Defined in the New Design System https://www.figma.com/file/1rUpciJJRVQZiNqEzggaAN/NEW---Design-System?node-id=0%3A1 :
// $g-base0: hsl(0, 0%, 9%);
// $g-base1: hsl(225, 55%, 96%);
// $g-base2: hsl(228, 38%, 97%);
// $g-base3: hsl(228, 38%, 97%);
// $g-base4: hsl(0, 0%, 98%);
// $g-base5: hsl(225, 13%, 25%);
