// Copyright 2018 Graphext

// easily the most important variable, so it comes first
// (so other variables can use it to define themselves)
$pt-grid-size: 8px;

// see https://bitsofco.de/the-new-system-font-stack/
$pt-font-family: "LatoLatin";

$pt-font-size: 14px;
$pt-font-size-large: 16px;
$pt-font-size-small: 12px;
$pt-font-size-extra-small: 10px;

// a little bit extra to ensure the height comes out to just over 18px (and browser rounds to 18px)
$pt-line-height: ($pt-grid-size * 2.25) / $pt-font-size + 0.0001;

$pt-border-radius: 16px;

$pt-input-height: 32px;

// Buttons
$pt-button-height: 32px;
$pt-button-height-small: 24px;
$pt-button-height-large: 40px;


// ------------------------- Colors -----------------------------------

$black: #000000;

$dark-gray0: #161616;
$dark-gray1: #1F2024;
$dark-gray2: #272A33;
$dark-gray3: #2A2E38;
$dark-gray4: #313641;
$dark-gray5: #363B47;

$blue1: #00507f;
$blue2: #0071b2;
$blue3: #0091e5;
$blue4: #00a1ff;
$blue5: #47b2f0;

$green1: #0a6640;
$green2: #0d8050;
$green3: #0f9960;
$green4: #15b371;
$green5: #3dcc91;

$orange1: #a66321;
$orange2: #bf7326;
$orange3: #d9822b;
$orange4: #f29d49;
$orange5: #ffb366;

$red1: #a82a2a;
$red2: #c23030;
$red3: #db3737;
$red4: #f55656;
$red5: #ff7373;

$white1: #ffffff;
$white2: rgba(255, 255, 255, 0.8);
$white3: rgba(255, 255, 255, 0.5);
$white4: rgba(255, 255, 255, 0.3);

$pt-intent-primary: #0091E4;
$pt-dark-link-color: $pt-intent-primary; // for links

$pt-intent-text-colors: (
  "primary": $pt-intent-primary,
  "success": $green2,
  "warning": $orange2,
  "danger" : $red2,
);

$pt-dark-intent-text-colors: (
  "primary": $pt-intent-primary,
  "success": $green5,
  "warning": $orange5,
  "danger" : $red5,
);


// ------------------------- Color aliases -------------------------------

$pt-dark-icon-color: $white3;
$pt-dark-icon-color-hover: $white3;

$pt-dark-divider-black: $white3;


// ------------------------- Components -------------------------------

// Custom shadow for buttons, selects, tag-inputs, tooltips & datetime
$custom-shadow: 0 0 12px rgba($black, 0.25);

// Custom shadow for popover (New Design System)
$pt-dark-border-shadow-opacity: 0.1;

// ------------------------- New Design System Colors -------------------------------

// Functions to get tint effect
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

// Functions to get shade effect
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

$g-dark-primary1: #0091E4;
$g-dark-primary2: tint($g-dark-primary1, 20%); //20% tint
$g-dark-primary3: shade($g-dark-primary1, 20%); //20% shade
$g-dark-primary4: shade($g-dark-primary1, 30%); //30% shade
$g-dark-primary5: shade($g-dark-primary1, 40%); //40% shade

$g-white: hsl(0, 0%, 100%);
$g-black: #333;

$g-primary1: shade($g-dark-primary1, 20%);
$g-primary2: shade($g-dark-primary2, 20%);
$g-primary3: shade($g-dark-primary3, 20%);
$g-primary4: shade($g-dark-primary4, 30%);
$g-primary5: shade($g-dark-primary5, 20%);

$g-dark-grey1: #E5E5E6;
$g-dark-grey2: #CACBCE;
$g-dark-grey3: #94979E;
$g-dark-grey4: #61646B;

$g-grey1: #61646B;
$g-grey2: #94979E;
$g-grey3: #CACBCE;
$g-grey4: #E5E5E6;

$g-dark-base0: #161616;
$g-dark-base1: #1F2024;
$g-dark-base2: #25272E;
$g-dark-base3: #2A2E38;
$g-dark-base4: #313641;
$g-dark-base5: #363B47;
$g-dark-base5: #2F4151;

$g-base0: #FFFFFF;
$g-base1: #FCFCFD;
$g-base2: #F8F9FB;
$g-base3: #F4F5F8;
$g-base4: #EEEFF5;
$g-base5: #E1E3EA;
$g-base5: #F2FAFE;

// all shadow lists must be the same length to avoid flicker in transitions.
$pt-elevation-shadow-0: 0 0 0 1px transparent,
  0 0 0 rgba($black, 0),
  0 0 0 rgba($black, 0) !default;
$pt-dark-elevation-shadow-0: 0 0 0 1px transparent,
  0 0 0 rgba($black, 0),
  0 0 0 rgba($black, 0) !default;

// Custom colors with shades: 

// $g-example-25: ;
// $g-example-50: ;
// $g-example-100: ;
// $g-example-200: ;
// $g-example-300: ;
// $g-example-400: ;
// $g-example-500: ;
// $g-example-600: ;
// $g-example-700: ;
// $g-example-800: ;
// $g-example-900: ;

$g-primary-25: #FAFDFF;
$g-primary-50: #E8F5FD;
$g-primary-100: #CCE9FA;
$g-primary-200: #AADAF6;
$g-primary-300: #80C8F1;
$g-primary-400: #55B6ED;
$g-primary-500: #2BA3E8;
$g-primary-600: #0091E4;
$g-primary-700: #0066A0;
$g-primary-800: #005789;
$g-primary-900: #112446;

$g-wizard-23-25: #FEFEFF;
$g-wizard-23-50: #F7F8FD;
$g-wizard-23-100: #EAEEFA;
$g-wizard-23-200: #DAE0F6;
$g-wizard-23-300: #B5BFED;
$g-wizard-23-400: #8495E1;
$g-wizard-23-500: #5B71D7;
$g-wizard-23-600: #445DD1;
$g-wizard-23-700: #22358B;
$g-wizard-23-800: #1B2A6F;
$g-wizard-23-900: #111A46;

$g-wizard-26-25: #FDFCFD;
$g-wizard-26-50: #FAF9FB;
$g-wizard-26-100: #F3EFF5;
$g-wizard-26-200: #EAE3ED;
$g-wizard-26-300: #D5C7DC;
$g-wizard-26-400: #B8A1C4;
$g-wizard-26-500: #A182B0;
$g-wizard-26-600: #805C92;
$g-wizard-26-700: #5D436A;
$g-wizard-26-800: #4A3554;
$g-wizard-26-900: #2F2235;

$g-water-25: #FAFEFF;
$g-water-50: #EBFCFF;
$g-water-100: #E0F3F6;
$g-water-200: #D0ECF1;
$g-water-300: #BCE7EB;
$g-water-400: #A1DAE3;
$g-water-500: #82CDD9;
$g-water-600: #56BCCC;
$g-water-700: #287985;
$g-water-800: #20606A;
$g-water-900: #143C43;

$g-wizard-18-25: #FDFEFB;
$g-wizard-18-50: #F9FBF4;
$g-wizard-18-100: #F5F8ED;
$g-wizard-18-200: #EDF2DE;
$g-wizard-18-300: #DBE5BD;
$g-wizard-18-400: #C4D491;
$g-wizard-18-500: #B0C66C;
$g-wizard-18-600: #81973B;
$g-wizard-18-700: #6B7D31;
$g-wizard-18-800: #556327;
$g-wizard-18-900: #353E18;

$g-error-25: #FEFBFB;
$g-error-50: #FAF0F0;
$g-error-100: #F7E8E8;
$g-error-200: #F3DDDD;
$g-error-300: #E7BBBB;
$g-error-400: #D78E8E;
$g-error-500: #CC7070;
$g-error-600: #B83939;
$g-error-700: #993030;
$g-error-800: #7B2626;
$g-error-900: #3D1313;

$g-grass-25: #FBFDFB;
$g-grass-50: #F8FCF8;
$g-grass-100: #EDF7ED;
$g-grass-200: #DFF1DF;
$g-grass-300: #C0E2C0;
$g-grass-400: #95CF95;
$g-grass-500: #68BB68;
$g-grass-600: #2CA02C;
$g-grass-700: #258825;
$g-grass-800: #1D6B1D;
$g-grass-900: #0F350F;

$g-avocado-25: #FEFEFB;
$g-avocado-50: #FBFDF2;
$g-avocado-100: #F8FCE9;
$g-avocado-200: #E9F4B5;
$g-avocado-300: #E8F3B4;
$g-avocado-400: #D3E96D;
$g-avocado-500: #C7E347;
$g-avocado-600: #BCDD22;
$g-avocado-700: #7D9317;
$g-avocado-800: #5E6F11;
$g-avocado-900: #3F4A0B;

$g-wizard-4-25: #FCFDFC;
$g-wizard-4-50: #F7F9F6;
$g-wizard-4-100: #F1F5F0;
$g-wizard-4-200: #E6ECE4;
$g-wizard-4-300: #CEDAC8;
$g-wizard-4-400: #B8C9B0;
$g-wizard-4-500: #89A97A;
$g-wizard-4-600: #446734;
$g-wizard-4-700: #466935;
$g-wizard-4-800: #3A582C;
$g-wizard-4-900: #263A1D;

$g-wood-25: #FBF9F9;
$g-wood-50: #F5F0EF;
$g-wood-100: #EBE2E0;
$g-wood-200: #E1D3D0;
$g-wood-300: #CFB9B4;
$g-wood-400: #B99992;
$g-wood-500: #A67C73;
$g-wood-600: #8C564B;
$g-wood-700: #71453C;
$g-wood-800: #5A3730;
$g-wood-900: #2F1D19;

$g-denim-25: #FBFDFE;
$g-denim-50: #FAF8FC;
$g-denim-100: #ECF3F9;
$g-denim-200: #DDE8F3;
$g-denim-300: #B6D3E7;
$g-denim-400: #90BCDA;
$g-denim-500: #55A8E2;
$g-denim-600: #1F77B4;
$g-denim-700: #1A6396;
$g-denim-800: #144E75;
$g-denim-900: #0D314A;

$g-purple-25: #FDFCFD;
$g-purple-50: #F7F1F8;
$g-purple-100: #E1CCE5;
$g-purple-200: #CCAAD4;
$g-purple-300: #B380BE;
$g-purple-400: #9A55A8;
$g-purple-500: #802B93;
$g-purple-600: #67007D;
$g-purple-700: #560068;
$g-purple-800: #450053;
$g-purple-900: #22002A;

$g-orange-25: #FFFCFA;
$g-orange-50: #FFFAF5;
$g-orange-100: #FFF1E5;
$g-orange-200: #FFE7D1;
$g-orange-300: #FFCEA3;
$g-orange-400: #FFAE66;
$g-orange-500: #FF9436;
$g-orange-600: #FF7F0E;
$g-orange-700: #D46A0C;
$g-orange-800: #804007;
$g-orange-900: #470D0D;

$g-wizard-10-25: #FCFDFC;
$g-wizard-10-50: #EDF2EE;
$g-wizard-10-100: #D5E0D7;
$g-wizard-10-200: #B9CCBC;
$g-wizard-10-300: #96B29B;
$g-wizard-10-400: #74987A;
$g-wizard-10-500: #517F58;
$g-wizard-10-600: #2E6537;
$g-wizard-10-700: #26542E;
$g-wizard-10-800: #1F4325;
$g-wizard-10-900: #17331C;

$g-lavander-25: #FCFBFD;
$g-lavander-50: #FAF8FC;
$g-lavander-100: #F2EDF7;
$g-lavander-200: #E8DFF1;
$g-lavander-300: #D4C3E5;
$g-lavander-400: #C3AADA;
$g-lavander-500: #AA86CB;
$g-lavander-600: #9467BD;
$g-lavander-700: #60437A;
$g-lavander-800: #463159;
$g-lavander-900: #2C1F38;

$g-plum-25: #FDFBFC;
$g-plum-50: #FCF8FA;
$g-plum-100: #F7EDF2;
$g-plum-200: #EFDCE5;
$g-plum-300: #E3C0D0;
$g-plum-400: #CF95B0;
$g-plum-500: #C07297;
$g-plum-600: #A02B62;
$g-plum-700: #892554;
$g-plum-800: #6B1D41;
$g-plum-900: #44122A;

$g-golden-25: #FFFDFA;
$g-golden-50: #FFFAF0;
$g-golden-100: #FFEECD;
$g-golden-200: #FFE2AC;
$g-golden-300: #FFD483;
$g-golden-400: #FFC65A;
$g-golden-500: #FFB730;
$g-golden-600: #FFA907;
$g-golden-700: #D08A06;
$g-golden-800: #9A6604;
$g-golden-900: #553802;

$g-pacific-25: #FAFEFF;
$g-pacific-50: #F1FAFE;
$g-pacific-100: #E7F7FE;
$g-pacific-200: #CCEFFC;
$g-pacific-300: #AAE4FA;
$g-pacific-400: #80D7F8;
$g-pacific-500: #55CAF6;
$g-pacific-600: #00AFF1;
$g-pacific-700: #007EAD;
$g-pacific-800: #00638A;
$g-pacific-900: #143643;
