// Selected region change
.#{$ns}-table-region {
  border: none;
  background-color: rgba(25, 25, 25, 0.08);
  .#{$ns}-dark & {
    background-color: rgba(255, 255, 255, 0.08);
  }
}

.#{$ns}-table-selection-region {
  border-top: none;
  border-left: 1px solid $g-black;
  background-color: rgba(25, 25, 25, 0.08);

  .#{$ns}-dark & {
    background-color: rgba(255, 255, 255, 0.08) !important;
    border: none;
    border-left: 1px solid $g-white !important;
  }

  .#{$ns}-table-column-headers & {
    border-left: 1px solid $g-black;
    .#{$ns}-dark & {
      border-left: 1px solid $g-white;
    }
  }

  .#{$ns}-table-row-headers & {
    border-left: 1px solid $g-black;
    .#{$ns}-dark & {
      border-left: 1px solid $g-white;
    }
  }
}
