
$dark-table-background-color: $dark-gray3;
$dark-cell-background-color: $dark-gray2;

$dark-cell-border-color: $dark-gray4;
$dark-cell-text-color: $white2;

$dark-header-background-color: $dark-gray3;
$dark-header-hover-background-color: $dark-gray3;

$cell-padding-horizontal: $pt-grid-size * 2;
$cell-height: $pt-grid-size * 3;
$large-cell-height: $pt-grid-size * 5;

 $dark-cell-border-color: $dark-gray4;

