
$dark-table-background-color: $dark-gray2;
$dark-cell-background-color: transparent;
$dark-cell-border-color: $dark-gray3;
$dark-cell-text-color: $white2;
$dark-header-background-color: $dark-gray3;


$cell-padding-horizontal: 16px;
