
/* dark theme */
$dark-table-background-color: $g-dark-base3;
$dark-cell-background-color: $g-dark-base3;

$dark-cell-border-color: $g-dark-base5;
$dark-cell-text-color: $g-white;

$dark-header-background-color: $g-dark-base3;
$dark-header-hover-background-color: $g-dark-base3;

/* light theme */
$table-background-color: $g-light-base3;
$cell-background-color: $g-light-base3;

$cell-border-color: $g-light-base5;
$cell-text-color: $g-black;

$header-background-color: $g-light-base3;
$header-hover-background-color: $g-light-base3;

/* general */

$cell-padding-horizontal: $pt-grid-size * 2;
$cell-height: $pt-grid-size * 3;
$large-cell-height: $pt-grid-size * 5;

// Preserve BP5 spacing
$column-header-min-height: $pt-grid-size * 3;
$interaction-bar-height: $pt-grid-size * 2;

