$ns: bp3;

.#{$ns}-table-container {
  border-radius: 8px;
}

.vertical-align .#{$ns}-table-cell,
.vertical-align .#{$ns}-table-cell .#{$ns}-table-editable-text {
  display: flex;
  align-items: center;
}
